:host([theme~="info"]) [part~="overlay"] {
	color: var(--lumo-primary-text-color);
}

:host([theme~="success"]) [part~="overlay"] {
	background-color: var(--lumo-success-color);
	color: var(--lumo-success-contrast-color);
	font-weight: bold;
}

:host([theme~="warning"]) [part~="overlay"] {
	background-color: yellow;
	color: black;
	font-weight: bold;
}

:host([theme~="error"]) [part~="overlay"] {
	background-color: var(--lumo-error-color);
	color: var(--lumo-error-contrast-color);
	font-weight: bold;
}