.loadChart .plate {
	border-color: black;
	border-width: 1px;
	border-style: solid;
	vertical-align: middle;
	margin: 2px;
	-moz-border-radius: 0.5em;
	-webkit-border-radius: 0.5em;
	border-radius: 0.5em;
	overflow: hidden;
}

.dark .plate {
	border-color: white;
}

.bar {
	height: 1.5ex;
	width: 2.5em;
	background-color: grey;
}

.barInner {
	height: 4.5ex;
	width: 1em;
	background-color: grey;
	-moz-border-radius: 0.2em;
	-webkit-border-radius: 0.2em;
	border-radius: 0.2em;
}

.barOuter {
	height: 2.5ex;
	width: 1.5em;
	background-color: grey;
}

.L_25 {
	height: 12em;
	width: 1.70em;
	background-color: red;
}

.L_20 {
	height: 12em;
	width: 1.60em;
	background-color: blue;
}

.L_15 {
	height: 12em;
	width: 1.50em;
	background-color: yellow;
}

.L_10 {
	height: 12em;
	width: 1.40em;
	background-color: green;
}

.L_5 {
	height: 12em;
	width: 1.30em;
	background-color: white;
}

.L_2_5 {
	height: 12em;
	width: 1.20em;
	background-color: red;
}

.C_2_5 {
	height: 5ex;
	width: 1.5em;
	background-color: black;
	border-color: black;
	border-width: 2px;
	border-style: solid;
	-moz-border-radius: 0.1em;
	-webkit-border-radius: 0.1em;
	border-radius: 0.1em;
}

.dark .C_2_5 {
	border-color: white;
}

.S_5 {
	height: 7em;
	width: 0.65em;
	background-color: white;
}

.S_2_5 {
	height: 6em;
	width: 0.65em;
	background-color: red;
}

.S_2 {
	height: 5.5em;
	width: 0.65em;
	background-color: blue;
}

.S_1_5 {
	height: 5em;
	width: 0.65em;
	background-color: yellow;
}

.S_1 {
	height: 4.5em;
	width: 0.65em;
	background-color: green;
}

.S_0_5 {
	height: 4em;
	width: 0.65em;
	background-color: white;
}