/** global css definitions go here */

html {
  box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: inherit;
}

/* spurious system error coming from crudui or app-layout */
.v-system-error {
	display: none;
}

.v-reconnect-dialog {
    position: absolute;
    top: 1em;
    right: 1em;
    border: 1px solid black;
    padding: 1em;
    z-index: 10000;
    background: white;
}

@media print {
	#Header, #Footer, #printing {
		display: none !important;
		visibility: hidden  !important;
	}
	
	.printing {
		display: none !important;
		visibility: hidden  !important;
	}
}

.errorMessage {
	color: red;
	font-weight: bold;
	background-color: var(--lumo-error-color-10pct);
}

