:host(.bad) [part="input-field"] {
	background-color: red;
	color: white;
}

:host(.good) [part="input-field"] {
	background-color: green;
	color: white;
}

:host(.error) [part="input-field"] {
	background-color: var(--lumo-error-color-10pct);
	color: black;
}