## Example environment variables for OWLCMS
# Copy this file to .env.windows or .env.linux or .env.mac and edit as needed

# set this to a secure value for your installation, do not commit the file with a real value.
OWLCMS_UPDATEKEY=uselessDefaultValue

# Example local directories (uncomment and edit for your machine):
# Windows example:
# OWLCMS_LOCALDIR=C:\\Dev\\git\\owlcms_local
# Linux/macOS example:
# OWLCMS_LOCALDIR=/home/dev/owlcms_local
