[submodule "publicresults-heroku"]
	path = publicresults-heroku
	url = https://github.com/jflamy/publicresults-heroku
	branch = .

[submodule "owlcms-heroku"]
	path = owlcms-heroku
	url = https://github.com/jflamy/owlcms-heroku
	branch = .
