# Compiled class file
*.class

# Log file
*.log

# BlueJ files
*.ctxt

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
*.jar
*.war
*.ear
*.tar.gz
*.rar

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*
/pom.xml.versionsBackup

# Jenkins
/*@tmp/
/target/
database/owlcms.mv.db
/.flattened-pom.xml
/database/
/cp.txt
/logs/
/node_modules/
/.metadata/
/.moquette_uuid
/fly.toml
/mqttData/
/nohup.out
/*.mp4
owlcms/.classpath
/alpha.md
/beta.md
/rc.md
/release.md

# Local environment file
.env
/.vscode/.env.windows
/.vscode/.env.linux
/.vscode/.env.mac
/.code-workspace
jfl*.*

# GPT assistant workspace (hidden, local)
.gpt/
.gpt/**
owlcms/package.json
owlcms/package-lock.json
