[submodule "publicresults-heroku"]
	path = publicresults-heroku
	url = https://github.com/jflamy/publicresults-heroku.git

[submodule "owlcms4-heroku"]
	path = owlcms4-heroku
	url = https://github.com/jflamy/owlcms4-heroku.git
	branch = master
