Jean-François Lamy <jf@jflamy.dev>
Jean-François Lamy <jf@jflamy.dev> <jf-dev@jflamy.dev>
Jean-François Lamy <jf@jflamy.dev> <jflamy@ledocte.org>
Jean-François Lamy <jf@jflamy.dev> <lamyj@jflxps>
Jean-François Lamy <jf@jflamy.dev> <lamyjeanfrancois@gmail.com>
Jean-François Lamy <jf@jflamy.dev> <lamyjeanfrancois@outlook.com>
Jean-François Lamy <jf@jflamy.dev> <owlcms@jfl-dev.localdomain>
