<?xml version="1.0" encoding="UTF-8"?>
<!-- Testing/development logback file, writes to CONSOLE -->
<!-- IDE: console output, + startup.log if OWLCMS_CONTROLPANEL or OWLCMS_LAUNCHER is set -->
<configuration scan="true" debug="false">

    <!-- Stop output INFO at start -->
    <statusListener class="ch.qos.logback.core.status.NopStatusListener" />

    <appender name="CONSOLE" class="ch.qos.logback.core.ConsoleAppender">
        <target>System.out</target>
        <encoder>
            <charset>UTF-8</charset>
            <pattern>%d{HH:mm:ss.SSS} %highlight(%-5level) %-75msg [%logger{100}:%L %M]%n</pattern>
        </encoder>
    </appender>

    <!-- Startup log appender for control panel feedback (IDE development testing) -->
    <appender name="STARTUP_FILE" class="ch.qos.logback.core.FileAppender">
        <file>logs/startup.log</file>
        <append>false</append>
        <encoder>
            <charset>UTF-8</charset>
            <pattern>
                %d{HH:mm:ss} %msg%n
            </pattern>
        </encoder>
    </appender>

    <!-- silence spurious warning messages -->
    <logger name="org.eclipse.jetty.annotations.AnnotationParser" level="ERROR" />
    <logger name="org.eclipse.jetty.io.EofException" level="OFF" />
    <logger name="jakarta.servlet.ServletException" level="ERROR" />
    <logger name="app.owlcms.servlet.HttpsEnforcer" level="OFF" />
    <logger name="com.vaadin.flow.server.ServiceException" level="OFF" />
    <logger name="org.eclipse.jetty.server.HttpChannel" level="ERROR" />
    <logger name="com.vaadin.flow.server.communication" level="ERROR" />
    <logger name="com.vaadin.flow.server.DefaultDeploymentConfiguration" level="ERROR" />
    <logger name="org.hibernate.type.descriptor.java.JavaTypeDescriptorRegistry" level="ERROR" />
    <logger name="h2database" level="WARN" />
    <logger name="com.vaadin" level="INFO" />
    <logger name="com.github.mvysny.vaadinboot" level="INFO" />
    <logger name="io.netty.util.ResourceLeakDetector" level="OFF" />
    <logger name="org.atmosphere.websocket" level="ERROR" />
    <logger name="org.atmosphere.cpr.AtmosphereFramework" level="OFF" />
    <logger name="com.vaadin.flow.internal.nodefeature.ElementListenerMap" level="WARN" />
    <logger name="org.eclipse.jetty.ee10.annotations.AnnotationParser" level="ERROR" />

    <!-- by default log all info to console; warnings and above unless logger specifies other level -->
    <root level="WARN">
        <appender-ref ref="CONSOLE" />
    </root>
    
    <!-- Startup logger - conditionally enabled when OWLCMS_CONTROLPANEL is present -->
    <if condition='isDefined("OWLCMS_CONTROLPANEL")'>
        <then>
            <!-- When control panel env var is set, enable startup logger and write to both console and file -->
            <logger name="app.owlcms.Main.startup" level="INFO" additivity="false">
                <appender-ref ref="STARTUP_FILE" />
                <appender-ref ref="CONSOLE" />
            </logger>
        </then>
        <else>
            <!-- In normal IDE development, turn off startup messages (already available via regular logs) -->
            <logger name="app.owlcms.Main.startup" level="OFF" />
        </else>
    </if>

    <!-- default levels for owlcms -->
    <logger name="app.owlcms" level="INFO" />
    <logger name="app.owlcms.fieldofplay.FieldOfPlay" level="DEBUG" />
    <logger name="app.owlcms.fieldofplay.FOPEvent" level="DEBUG" />

    <!-- additional tracing/debugging (set level to DEBUG or TRACE) -->
    <logger name="app.owlcms.data.competition.Competition" level="DEBUG" />
    
    <!-- previously suspect -->
    <logger name="app.owlcms.data.config.Config" level="INFO" />
    <logger name="app.owlcms.data.athleteSort.WinningOrderComparator" level="INFO" />
    <logger name="app.owlcms.data.athleteSort.RegistrationOrderComparator" level="INFO" />
    <logger name="app.owlcms.data.athleteSort.AbstractLifterComparator" level="INFO" />
    <logger name="app.owlcms.utils.ResourceWalker" level="INFO" />
    <logger name="app.owlcms.displays.monitor.OBSMonitor" level="WARN" />
    <logger name="org.hibernate.SQL" level="WARN" />
    
</configuration>
