<?xml version="1.0" encoding="UTF-8"?>
<!-- Testing/development logback file, writes to stderr Also used for certain cloud services (e.g. Heroku) -->
<configuration scan="true" debug="false">

    <appender name="STDERR" class="ch.qos.logback.core.ConsoleAppender">
        <target>System.err</target>
        <encoder>
            <pattern>
                %d{HH:mm:ss.SSS} %-5level %-75msg [%logger{100}:%L %M]%n
            </pattern>
        </encoder>
    </appender>

    <logger name="app.owlcms" level="INFO" />

    <!-- silence spurious warning messages -->
    <logger name="org.eclipse.jetty.annotations.AnnotationParser" level="ERROR" />
    <logger name="org.eclipse.jetty.server.HttpChannel" level="ERROR" />
    <logger name="com.vaadin.flow.server.communication" level="ERROR" />
    <logger name="com.vaadin.flow.server.DefaultDeploymentConfiguration" level="ERROR" />
    <logger name="jakarta.servlet.ServletException" level="OFF" />
    <logger name="h2database" level="WARN" />
    <logger name="org.hibernate.SQL" level="debug" additivity="false">
        <appender-ref ref="STDERR"/>
    </logger>
    <logger name="org.hibernate.type.descriptor.sql.BasicBinder" level="trace" additivity="false">
        <appender-ref ref="STDERR"/>
    </logger>

    <root level="WARN">
        <appender-ref ref="STDERR" />
    </root>

</configuration>
