<?xml version="1.0" encoding="UTF-8"?>
<!-- Testing/development logback file, writes to CONSOLE -->
<configuration scan="true" debug="false">

    <!-- Stop output INFO at start -->
    <statusListener class="ch.qos.logback.core.status.NopStatusListener" />

    <appender name="CONSOLE" class="ch.qos.logback.core.ConsoleAppender">
        <target>System.out</target>
        <encoder>
            <charset>UTF-8</charset>
            <pattern>
                %d{HH:mm:ss.SSS} %-5level %-75msg [%logger{100}:%L %M]%n
            </pattern>
        </encoder>
    </appender>

    <!-- silence spurious warning messages -->
    <logger name="org.eclipse.jetty.annotations.AnnotationParser" level="ERROR" />
    <logger name="org.eclipse.jetty.io.EofException" level="ERROR" />
    <logger name="jakarta.servlet.ServletException" level="ERROR" />
    <logger name="app.owlcms.servlet.HttpsEnforcer" level="OFF" />
    <logger name="com.vaadin.flow.server.ServiceException" level="OFF" />
    <logger name="org.eclipse.jetty.server.HttpChannel" level="ERROR" />
    <logger name="com.vaadin.flow.server.communication" level="ERROR" />
    <logger name="com.vaadin.flow.server.DefaultDeploymentConfiguration" level="ERROR" />
    <logger name="org.hibernate.type.descriptor.java.JavaTypeDescriptorRegistry" level="ERROR" />
    <logger name="h2database" level="WARN" />
    <logger name="com.vaadin" level="INFO" />
    <logger name="com.github.mvysny.vaadinboot" level="INFO" />

    <!-- by default log all info to console; warnings and above unless logger specifies other level -->
    <root level="WARN">
        <appender-ref ref="CONSOLE" />
    </root>
    
    <!-- turn off simplified user-friendly messages shown at startup when using java.exe -->
    <logger name="app.owlcms.Main.startup" level="OFF" />

    <!-- default levels for owlcms -->
    <logger name="app.owlcms" level="INFO" />
    <logger name="app.owlcms.fieldofplay.FieldOfPlay" level="DEBUG" />
    <logger name="app.owlcms.fieldofplay.FOPEvent" level="DEBUG" />

    <!-- additional tracing/debugging (set level to DEBUG or TRACE) -->
    <logger name="app.owlcms.data.config.Config" level="INFO" />
    <logger name="app.owlcms.utils.ResourceWalker" level="INFO" />
    <logger name="app.owlcms.displays.monitor.OBSMonitor" level="WARN" />
    <logger name="org.hibernate.SQL" level="WARN" />
</configuration>
