<?xml version="1.0" encoding="UTF-8"?>
<!-- long-running production logback file, writes to logs/owlcms.log, creates new files daily also writes on console for cloud setups -->
<configuration scan="true" debug="false">

    <appender name="FILE" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>logs/owlcms.log</file>
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <!-- daily rollover -->
            <fileNamePattern>logs/owlcms_%d{yyyy-MM-dd}.log</fileNamePattern>
        </rollingPolicy>
        <encoder>
            <charset>UTF-8</charset>
            <pattern>
                %d{HH:mm:ss.SSS} %-5level %-75msg [%logger{100}:%L %M]%n
            </pattern>
        </encoder>
    </appender>

    <appender name="CONSOLE" class="ch.qos.logback.core.ConsoleAppender">
        <target>System.out</target>
        <encoder>
            <charset>UTF-8</charset>
            <pattern>
                %d{HH:mm:ss.SSS} %-5level %-75msg %n
            </pattern>
        </encoder>
    </appender>

    <!-- silence spurious warning messages -->
    <logger name="org.eclipse.jetty.annotations.AnnotationParser" level="ERROR" />
    <logger name="org.eclipse.jetty.io.EofException" level="ERROR" />
    <logger name="javax.servlet.ServletException" level="ERROR" />
    <logger name="app.owlcms.servlet.HttpsEnforcer" level="OFF" />
    <logger name="com.vaadin.flow.server.ServiceException" level="OFF" />
    <logger name="org.eclipse.jetty.server.HttpChannel" level="ERROR" />
    <logger name="com.vaadin.flow.server.communication" level="ERROR" />
    <logger name="com.vaadin.flow.server.DefaultDeploymentConfiguration" level="ERROR" />

    <!-- by default log all info to both file and console; warnings and above unless logger specifies other level -->
    <root level="WARN">
        <appender-ref ref="FILE" />
        <appender-ref ref="CONSOLE" />
    </root>

    <!-- default levels for owlcms -->
    <logger name="app.owlcms" level="INFO" />
    <logger name="app.owlcms.fieldofplay.FieldOfPlay" level="DEBUG" />
    <logger name="app.owlcms.fieldofplay.FOPEvent" level="DEBUG" />

    <!-- additional tracing/debugging (set level to DEBUG or TRACE) -->
    <logger name="app.owlcms.fieldofplay.FieldOfPlay_Timing" level="DEBUG" />
    <logger name="app.owlcms.data.config.Config" level="INFO" />
    <logger name="app.owlcms.utils.ResourceWalker" level="INFO" />

</configuration>
