/* modern style dark mode without borders */
* {
    --pageBackgroundColor: black;
    --pageTextColor: white;
    --blockBackgroundColor: var(--pageBackgroundColor);

    /* video header (same as page if no transparency) */
    --videoHeaderBackgroundColor: var(--pageBackgroundColor);
    --videoHeaderTextColor: var(--pageTextColor);

    /* control record notification on scoreboard and attempt board.
       Set to 10 to show notifications, set to -10 if notifications not wanted */
    --zIndexRecordNotifications: 10;

    /* current attempt section */
    --startNumberBoxColor: red;
    --breakTimerColor: skyblue;
    --athleteTimerColor: yellow;
    --athleteAttemptWeightColor: aqua;
    --downColor: lime;

    --athleteNameColor: white;
    --athleteCategoryColor: white;
    --athleteTeamColor: white;
    --athleteAttemptColor: white;

    --groupInfoColor: white;
}

.dark {
    /* results table section, "white on black", most cells have same dark background as page */

    --TableBorders: var(--EmptyBackgroundColor);
    --TextColor: white;
    --BackgroundColor: var(--EmptyBackgroundColor);

    --TitleTextColor: var(--TextColor);
    --TitleBackgroundColor: var(--BackgroundColor);

    --CurrentTextColor: yellow;
    --CurrentBackgroundColor: var(--EmptyBackgroundColor);

    --NextTextColor: orange;
    --NextBackgroundColor: var(--EmptyBackgroundColor);

    --RequestTextColor: silver;
    --RequestBackgroundColor: var(--EmptyBackgroundColor);

    --StartBackgroundColor: var(--BackgroundColor);
    --StartTextColor: var(--TextColor);

    --NameBackgroundColor: var(--BackgroundColor);
    --NameTextColor: var(--TextColor);

    --CategoryTextColor: var(--TextColor);
    --CategoryBackgroundColor: var(--BackgroundColor);

    --BirthTextColor: var(--TextColor);
    --BirthBackgroundColor: var(--BackgroundColor);

    --TeamTextColor: var(--TextColor);
    --TeamBackgroundColor: var(--BackgroundColor);

    --GoodTextColor: black;
    --GoodBackgroundColor: white;

    --FailTextColor: white;
    --FailBackgroundColor: darkred;

    --RankTextColor: var(--TextColor);
    --RankBackgroundColor: var(--BackgroundColor);

    --TotalRankTextColor: var(--TextColor);
    --TotalRankBackgroundColor: var(--BackgroundColor);

    --TotalTextColor: white;
    --TotalBackgroundColor: blue;

    --SpacerBackgroundColor: var(--blockBackgroundColor);
    --EmptyTextColor: #4d4d4d;
    --EmptyBackgroundColor: #4d4d4d;

    /* records table section, black on white */
    /* by default, same as white on black */

    --RecordBoxBorder: var(--pageTextColor);
    --RecordBoxBackground: #4d4d4d;
    --RecordBoxBorderWidth: medium;
    --RecordBoxText: var(--pageTextColor);

    --RecordCellBorderWidth: thin;
     --RecordCellBorderColor: var(--pageTextColor);
    
    --RecordCatBackground: var(--pageBackgroundColor);
    --RecordCatText: var(--pageTextColor);

    --RecordValueText: var(--TextColor);
    --RecordValueBackground: var(--EmptyBackgroundColor);

    --RecordNameBackground: var(--pageBackgroundColor);
    --RecordNameText: white;

    --RecordLiftTypeBackground: var(--EmptyBackgroundColor);
    --RecordLiftTypeText: var(--TextColor);
    --RecordLiftTypeBorder: var(--TextColor);

    --RecordHighlightBackground: green;
    --RecordHighlightText: white;
    --AttemptHighlightText: white;
    --AttemptHighlightBackground: purple;
}

.light {
    /* results table section, "black on white", cell have a full background different from page background */

    --TableBorders: grey;
    --TextColor: black;
    --BackgroundColor: white;

    --TitleTextColor: black;
    --TitleBackgroundColor: white;

    --CurrentTextColor: var(--TextColor);
    --CurrentBackgroundColor: yellow;

    --NextTextColor: var(--TextColor);
    --NextBackgroundColor: gold;

    --RequestTextColor: var(--TextColor);
    --RequestBackgroundColor: var(--BackgroundColor);

    --StartBackgroundColor: var(--BackgroundColor);
    --StartTextColor: var(--TextColor);

    --NameBackgroundColor: var(--BackgroundColor);
    --NameTextColor: var(--TextColor);

    --CategoryTextColor: var(--TextColor);
    --CategoryBackgroundColor: var(--BackgroundColor);

    --BirthTextColor: var(--TextColor);
    --BirthBackgroundColor: var(--BackgroundColor);

    --TeamTextColor: var(--TextColor);
    --TeamBackgroundColor: var(--BackgroundColor);

    --GoodTextColor: white;
    --GoodBackgroundColor: green;

    --FailTextColor: white;
    --FailBackgroundColor: darkred;

    --RankTextColor: var(--TextColor);
    --RankBackgroundColor: #F9E79F;

    --TotalRankTextColor: var(--TextColor);
    --TotalRankBackgroundColor: var(--RankBackgroundColor);

    --TotalTextColor: var(--GoodTextColor);
    --TotalBackgroundColor: blue;

    --SpacerBackgroundColor: var(--TableBorders);
    --EmptyTextColor: #cccccc;
    --EmptyBackgroundColor: #cccccc;

     /* records table section, black on white */
    --RecordBoxBorder: var(--pageTextColor);
    --RecordBoxBackground: var(--pageBackgroundColor);
    --RecordBoxBorderWidth: medium;
    --RecordBoxText: var(--pageTextColor);

    --RecordCellBorderWidth: thin;
    --RecordCellBorderColor: var(--pageTextColor);

    --RecordCatBackground: var(--RecordBoxBackground);
    --RecordCatText: var(--pageTextColor);

    --RecordValueText: var(--pageTextColor);
    --RecordValueBackground: var(--RecordBoxBackground);

    --RecordNameBackground: var(--blockBackgroundColor);
    --RecordNameText: var(--pageTextColor);

    --RecordLiftTypeBackground: var(--RecordBoxBackground);
    --RecordLiftTypeText: var(--pageTextColor);
    --RecordLiftTypeBorder: var(--pageTextColor);

    --RecordHighlightBackground: green;
    --RecordHighlightText: white;
    --AttemptHighlightText: white;
    --AttemptHighlightBackground: purple;

}

@font-face {
    font-family: Teko;
    src: url("../fonts/Teko-Regular.ttf") format("woff");
}

@font-face {
    font-family: Teko;
    font-weight: bold;
    src: url("../fonts/Teko-SemiBold.ttf") format("woff");
}