* {
    /*************************
     * Customization section
     *************************/

    /* variable-size columns. fr = free space after other columns have been allocated.
       for ease of understanding, sum of all fr columns should be 1.00.
    */
    --nameWidth: auto;
    --clubWidth: min-content;
    /* define this if you use acronyms and want flags to line up
    --teamNameShortLength: 4ch;
     */

    /* left column width: adjust depending on how you name groups */
      --startWidth: 0em;
      --startVisibility: hidden;
    
    /* spacers */
    --spacerWidth: 1vh;

    /* normally these do not need to change */
    --categoryWidth: 10ch;
    --liftResultWidth: 6ch;

    /* to show these columns 
    - change hidden to visible
    - set the width to value like 8ch 
    */
    --birthWidth: 6ch;
    --birthVisibility: visible;
    --custom1Width: 0;
    --custom1Visibility: hidden;
    --custom2Width: 0;
    --custom2Visibility: hidden;

    --rankWidth: var(--liftResultWidth);
    --rankVisibility: visible;
    
    --bestWidth: var(--liftResultWidth);
    --bestVisibility: visible;

    /* top part: current attempt information */
    --topRowFontSize: 3vh;
    --athleteNameFontSize: 4vh;
    --groupInfoFontSize: 2.5vh;

    /* records */
    --recordValueCellWidth: 4rem;

    /* leaders section control grid lines visibility */
    --leaderLineHeight: min-content;

    box-sizing: border-box;
    --nbRanks: 1;

    --darkTotalBackgroundColor: var(--darkEmptyBackgroundColor);
/*     --lightTotalBackgroundColor: var(--lightNameBackgroundColor);
    --lightTotalTextColor: var(--lightNameTextColor); */
}

:host .light table.results {
    --spacerWidth: 0vh;
    --rowSmallSpacerHeight: 0;
}
:host .dark table.results {
    --spacerWidth: 1vh;
    --rowSmallSpacerHeight: 0.25vh;
}



/* default for page */
.wrapper {
    /* results table font size */
    --tableFontSize: 1.25rem;
    --recordValueCellHeight: calc(var(--tableFontSize)*1.5);
    --recordsFontRatio: 0.9;

    font-family: Arial, Helvetica, sans-serif;
    color: var(--pageTextColor);

    /* min-height: min-content; */
    padding: 1vmin 2vmin 2vmin 2vmin;
    overflow: hidden;
    /*display: grid;*/ /* not needed for medals/rankings */
    justify-content: center;
    line-height: unset;
}

td.name.flags {
    font-size: 120%;
}

td.flags img {
    height: 5vh;
    margin: 1vh;
    align-self: center;
    border: 1px;
    border-style: solid;
}
td.flags div {
    height: 6vh;
    line-height: 6vh;
    align-self: center;
    display: flex;
}

td.flags div {
    display: flex;
}

/* .blockPositioningWrapper {
    background-color: var(--blockBackgroundColor);
    width: fit-content;
    height: fit-content;
    padding: 0.66em;
    margin-top: 1em;
} */

.filler {
    background-color: var(--blockBackgroundColor);
    min-height: 1.5em;
}

:host .dark .wrapper table.results tr td.rank {
    border-color: var(--darkEmptyBackgroundColor);
    color: white;
    border-width: 0.6em;
    border-style: solid;
}
:host .dark .wrapper table.results tr td.rank.medal1 {
    background-color: gold;
    color: black;
}
:host .dark .wrapper table.results tr td.rank.medal2 {
    background-color: silver;
    color: black;
}
:host .dark .wrapper table.results tr td.rank.medal3 {
    background-color: #CD7F32;
    color: black;
}

:host .dark .wrapper table.results tr td.totalRrank {
    border-color: var(--darkEmptyBackgroundColor);
    color: white;
    border-width: 0.6em;
    border-style: solid;
}
:host .dark .wrapper table.results tr td.totalRank.medal1 {
    background-color: gold;
    color: black;
    border-color: var(--darkEmptyBackgroundColor);
    border-width: 0.6em;
    border-style: solid;
}
:host .dark .wrapper table.results tr td.totalRank.medal2 {
    background-color: silver;
    color: black;
    border-color: var(--darkEmptyBackgroundColor);
    border-width: 0.6em;
    border-style: solid;
}
:host .dark .wrapper table.results tr td.totalRank.medal3 {
    background-color: #CD7F32;
    color: black;
    border-color: var(--darkEmptyBackgroundColor);
    border-width: 0.6em;
    border-style: solid;
}

:host .light .wrapper table.results tr td.rank {
    border-color: var(--lightTableBorders);
    color: white;
    border-width: 0.6em;
    border-style: solid;
}
:host .light .wrapper table.results tr td.rank.medal1 {
    background-color: gold;
    color: black;
}
:host .light .wrapper table.results tr td.rank.medal2 {
    background-color: silver;
    color: black;
}
:host .light .wrapper table.results tr td.rank.medal3 {
    background-color: #CD7F32;
    color: black;
}

:host .light .wrapper table.results tr td.totalRrank {
    border-color: var(--lightTableBorders);
    color: white;
    border-width: 0.6em;
    border-style: solid;
}
:host .light .wrapper table.results tr td.totalRank.medal1 {
    background-color: gold;
    color: black;
    border-color: var(--lightTableBorders);
    border-width: 0.6em;
    border-style: solid;
}
:host .light .wrapper table.results tr td.totalRank.medal2 {
    background-color: silver;
    color: black;
    border-color: var(--lightTableBorders);
    border-width: 0.6em;
    border-style: solid;
}
:host .light .wrapper table.results tr td.totalRank.medal3 {
    background-color: #CD7F32;
    color: black;
    border-color: var(--lightTableBorders);
    border-width: 0.6em;
    border-style: solid;
}

/* grid layout */
table.medals {
    /* do not use all available vertical space */
    flex: 0;
    display: grid;
    border-collapse: collapse;
    grid-template-columns:
        /* group */
        var(--startWidth)
        /* name */
        var(--nameWidth)
        /* category */
        var(--categoryWidth)
        /* birth */
        var(--birthWidth)
        /* custom fields */
        var(--custom1Width) var(--custom2Width)
        /* team name */
        var(--clubWidth)
        /* snatch results */
        var(--spacerWidth)
        repeat(3, var(--liftResultWidth))
        var(--bestWidth)
        /* one snatch rank per category */
        repeat(var(--nbRanks), var(--rankWidth))
        /* clean&jerk */
        var(--spacerWidth)
        repeat(3, var(--liftResultWidth))
        var(--bestWidth)
        /* one snatch rank per category */
        repeat(var(--nbRanks), var(--rankWidth))
        /* total */
        var(--spacerWidth)
        repeat(1, var(--liftResultWidth))
        /* one total rank per category */
        repeat(var(--nbRanks), var(--totalRankWidth))
        /* sinclair result */
        var(--sinclairWidth)
        /* sinclair ranks */
        var(--sinclairRankWidth);
}

div > div > div.attemptBar {
    height: revert;
}

.athleteInfo .fullName {
    font-weight: bold;
    flex: revert;
    text-align: left;
    flex-grow: revert;
    color: var(--athleteNameColor);
    font-size: var(--athleteNameFontSize)
}
