@import "./resultsCustomization.css";

:host {
	display: block;
	height: 100vh;
	overflow: hidden;
}

.wrapper {
	height: 100vh;
	min-height: 0;
	overflow-y: auto;
	scrollbar-width: none;
}

.wrapper::-webkit-scrollbar {
	display: none;
}

* {
	--startWidth: 0;
	--startVisibility: hidden;
	--medalSize: 1.4em;
}