* {
    /*************************
     * Customization section
     *************************/

    /* variable-size columns. fr = free space after other columns have been allocated.
       for ease of understanding, sum of all fr columns should be 1.00.
    */
    --tableFontSize: 2vh;
    --nameWidth: 1fr;
    --clubWidth: max-content;
    --tableWidthRatio: 100%;
    --leaderFillerHeight: 1fr;

    /* left column width: adjust depending on how you name groups */
    --startWidth: min-content;
    --startVisibility: visible;

    /* spacers */
    --spacerWidth: 1vh;

    /* normally these do not need to change */
    --categoryWidth: 11ch;
    --categoryVisibility: visible;

    --liftResultWidth: 6ch;

    /* to show these columns 
    - change hidden to visible
    - set the width to value like 8ch 
    */
    --birthWidth: 6ch;
    --birthVisibility: visible;
    --custom1Width: 0;
    --custom1Visibility: hidden;
    --custom2Width: 0;
    --custom2Visibility: hidden;

    --rankWidth: var(--liftResultWidth);
    --rankVisibility: visible;
    --totalRankWidth: var(--liftResultWidth);
    --totalRankVisibility: visible;

    --bestWidth: var(--liftResultWidth);
    --bestVisibility: visible;

    /* top part: current attempt information */
    --topRowFontSize: 3vh;
    --athleteNameFontSize: 4vh;
    --groupInfoFontSize: 2.5vh;

    /* records */
    --recordValueCellWidth: 4rem;

    /* leaders section control grid lines visibility */
    --leaderLineHeight: min-content;

    box-sizing: border-box;
    --nbRanks: 1;
}

/* table sizes: ipad, 1024 projector */
@media screen and (orientation: landscape) and (min-height: 401px) and (max-height: 800px) and (max-width: 1024) {
    :host table.results {
        --tableFontSize: 1.8vh;
        --bestVisibility: hidden;
        --bestWidth: 0;
        --rankVisibility: visible;
        --rankWidth: var(--liftResultWidth);
    }
}

/* table sizes: iphone */
@media screen and (orientation: landscape) and (max-height: 400px) {
    :host table.results {
        --tableFontSize: 2.6vh;
        --bestVisibility: hidden;
        --bestWidth: 0;
        --rankVisibility: visible;
        --rankWidth: var(--liftResultWidth);
    }
}

@media screen and (orientation:portrait) and (min-width: 1025) {
    /* this is what actually controls the line height */
    :host table.results tr td.flags div.flags {
        height: calc(var(--tableFontSize)*1.5);
        line-height: calc(var(--tableFontSize)*1.5);
	}
    :host table.results {
        margin-top: 1em;
        --tableFontSize: 1.4em;
        --bestVisibility: hidden;
        --bestWidth: 0;
        --rankVisibility: hidden;
        --rankWidth: 0;
        --teamWidth: 0 !important;
        --teamVisibility: hidden !important;
        --birthVisibility: hidden;
        --birthWidth: 0;
        --totalRankWidth: 0;
        --totalRankVisibility: hidden;
    }
    :host table.results tr td.club,  
    :host table.results tr th.club {
        visibility:hidden;
        width: 0;
    }
    :host table.results tr td.yob, 
    :host table.results tr th.yob {
        --birthVisibility :hidden;
        width: 0;
    }
    :host .attemptBar {
        display: none !important;
    }
    :host .group {
        display: none !important;
    }
}

:host .light table.results {
    --spacerWidth: 0vh;
    --rowSmallSpacerHeight: 0;
}

:host .dark table.results {
    --spacerWidth: 1vh;
    --rowSmallSpacerHeight: 0; /* set to 0.25vh if transparent background */
}

td.flags div img {
	width: calc(var(--athleteNameFontSize)*1.2);
    height: calc(var(--athleteNameFontSize)*0.8);
    margin: 1vh;
    align-self: center;
    border: 1px;
    border-style: solid;
}

td.flags div.flags {
    height: calc(var(--athleteNameFontSize)*0.8);
    line-height: calc(var(--athleteNameFontSize)*0.8);
    align-self: center;
    display: flex;
}