@import "resultsCustomization.css";

* {
    --nameWidth: auto;
    --clubWidth: auto;
    --tableWidthRatio: 80%;
    --defaultLeaderFillerHeight: 0;
    --categoryWidth: minmax(11ch, auto);
    --topRowFontSize: 3vh;
    --athleteNameFontSize: 4vh;
    --groupInfoFontSize: 2.5vh;
}

.blockPositioningWrapper {
    width: var(--tableWidthRatio, 80%) !important;
}

:host .light table.results.startList {
    --rowSmallSpacerHeight: 0;
}

:host .dark table.results.startList {
    --rowSmallSpacerHeight: 0.25vh;
}

table.results.startList {
    flex: 0;
    display: grid;
    border-collapse: collapse;
    grid-template-rows:
        repeat(var(--top), min-content) repeat(1, var(--leaderFillerHeight)) repeat(var(--bottom), var(--leaderLineHeight));
    grid-template-columns:
        var(--startWidth)
        minmax(50px, var(--nameWidth))
        var(--categoryWidth)
        var(--birthWidth)
        var(--custom1Width) var(--custom2Width)
        var(--clubWidth)
        0.5fr;
}

td.entry div {
    text-align: center;
}

.attemptBar,
.group {
    display: none !important;
}

