* {
    --pageBackgroundColor: #00ff00;
    --pageTextColor: white;
    --blockBackgroundColor: silver;

    /* video header */
    --videoHeaderBackgroundColor: #ab1a1f;
    --videoHeaderTextColor: white;

    /* control record notification on scoreboard and attempt board.
       Set to 10 to show notifications, set to -10 if notifications not wanted */
    --zIndexRecordNotifications: 10;

    /* current attempt section */
    --startNumberBoxColor: red;
    --breakTimerColor: skyblue;
    --athleteTimerColor: yellow;
    --athleteAttemptWeightColor: #a1e94e;
    --downColor: lime;

    --athleteNameColor: white;
    --athleteCategoryColor: white;
    --athleteTeamColor: white;
    --athleteAttemptColor: white;

    --groupInfoColor: white;
}

.light {
    /* results table section, "black on white", cell have a full background different from page background */

    --lightTableBorders: grey;
    --lightTextColor: black;
    --lightBackgroundColor: white;

    --lightTitleTextColor: black;
    --lightTitleBackgroundColor: white;

    --lightCurrentTextColor: var(--lightTextColor);
    --lightCurrentBackgroundColor: yellow;

    --lightNextTextColor: var(--lightTextColor);
    --lightNextBackgroundColor: gold;

    --lightRequestTextColor: var(--lightTextColor);
    --lightRequestBackgroundColor: var(--lightBackgroundColor);

    --lightStartBackgroundColor: var(--lightBackgroundColor);
    --lightStartTextColor: var(--lightTextColor);

    --lightNameBackgroundColor: var(--lightBackgroundColor);
    --lightNameTextColor: var(--lightTextColor);

    --lightCategoryTextColor: var(--lightTextColor);
    --lightCategoryBackgroundColor: var(--lightBackgroundColor);

    --lightBirthTextColor: var(--lightTextColor);
    --lightBirthBackgroundColor: var(--lightBackgroundColor);

    --lightTeamTextColor: var(--lightTextColor);
    --lightTeamBackgroundColor: var(--lightBackgroundColor);

    --lightGoodTextColor: white;
    --lightGoodBackgroundColor: green;

    --lightFailTextColor: white;
    --lightFailBackgroundColor: darkred;

    --lightRankTextColor: var(--lightTextColor);
    --lightRankBackgroundColor: #F9E79F;

    --lightTotalRankTextColor: var(--lightTextColor);
    --lightTotalRankBackgroundColor: var(--lightRankBackgroundColor);

    --lightTotalTextColor: var(--lightGoodTextColor);
    --lightTotalBackgroundColor: blue;

    --lightSpacerBackgroundColor: var(--lightTableBorders);
    --lightEmptyTextColor: #cccccc;
    --lightEmptyBackgroundColor: #cccccc;
    
     /* records table section, black on white */
    --lightRecordBoxBorder: var(--pageTextColor);
    --lightRecordBoxBackground: var(--pageBackgroundColor);
    --lightRecordBoxText: var(--pageTextColor);

    --lightRecordValueText: var(--pageTextColor);
    --lightRecordValueBackground: var(--pageBackgroundColor);
    --lightRecordCellBorderColor: var(--pageTextColor);

    --lightRecordNameBackground: var(--pageBackgroundColor);
    --lightRecordNameText: var(--pageTextColor);

    --lightRecordLiftTypeBackground: var(--pageBackgroundColor);
    --lightRecordLiftTypeText: var(--pageTextColor);
    --lightRecordLiftTypeBorder: var(--pageTextColor);

    --lightRecordHighlightBackground: green;
    --lightRecordHighlightText: white;
    --lightAttemptHighlightText: white;
    --lightAttemptHighlightBackground: purple;
}

.dark {
    /* results table section, "white on black", most cells have same dark background as page */

    --darkTableBorders: var(--darkEmptyBackgroundColor);
    --darkTextColor: white;
    --darkBackgroundColor: var(--darkEmptyBackgroundColor);

    --darkTitleTextColor: var(--darkTextColor);
    --darkTitleBackgroundColor: var(--darkBackgroundColor);

    --darkCurrentTextColor: yellow;
    --darkCurrentBackgroundColor: var(--darkEmptyBackgroundColor);

    --darkNextTextColor: orange;
    --darkNextBackgroundColor: var(--darkEmptyBackgroundColor);

    --darkRequestTextColor: silver;
    --darkRequestBackgroundColor: var(--darkEmptyBackgroundColor);

    --darkStartBackgroundColor: var(--darkBackgroundColor);
    --darkStartTextColor: var(--darkTextColor);

    --darkNameBackgroundColor: var(--darkBackgroundColor);
    --darkNameTextColor: var(--darkTextColor);

    --darkCategoryTextColor: var(--darkTextColor);
    --darkCategoryBackgroundColor: var(--darkBackgroundColor);

    --darkBirthTextColor: var(--darkTextColor);
    --darkBirthBackgroundColor: var(--darkBackgroundColor);

    --darkTeamTextColor: var(--darkTextColor);
    --darkTeamBackgroundColor: var(--darkBackgroundColor);

    --darkGoodTextColor: black;
    --darkGoodBackgroundColor: white;

    --darkFailTextColor: white;
    --darkFailBackgroundColor: darkred;

    --darkRankTextColor: var(--darkTextColor);
    --darkRankBackgroundColor: var(--darkBackgroundColor);

    --darkTotalRankTextColor: var(--darkTextColor);
    --darkTotalRankBackgroundColor: var(--darkBackgroundColor);

    --darkTotalTextColor: white;
    --darkTotalBackgroundColor: blue;

    --darkSpacerBackgroundColor: var(--blockBackgroundColor);
    --darkEmptyTextColor: #4d4d4d;
    --darkEmptyBackgroundColor: #4d4d4d;
    
    /* records table section, white on black */
    /* by default, same as black on white */

    --darkRecordBoxBorder: white;
    --dardRecordBoxBorderWidth: 2px;
    --darkRecordBoxBackground: var(--darkEmptyBackgroundColor);
    --darkRecordBoxText: var(--darkTextColor);

    --darkRecordValueText: var(--darkTextColor);
    --darkRecordValueBackground: var(--darkEmptyBackgroundColor);
    --darkRecordCellBorderColor: var(--darkTextColor);

    --darkRecordNameBackground: var(--blockBackgroundColor);
    --darkRecordNameText: rgb(0 0 0 / 70%);

    --darkRecordLiftTypeBackground: var(--darkEmptyBackgroundColor);
    --darkRecordLiftTypeText: var(--darkTextColor);
    --darkRecordLiftTypeBorder: var(--darkTextColor);

    --darkRecordHighlightBackground: darkOrange;
    --darkRecordHighlightText: white;
    --darkAttemptHighlightText: var(--videoHeaderTextColor);
    --darkAttemptHighlightBackground: var(--videoHeaderBackgroundColor);

}

@font-face {
    font-family: Teko;
    src: url("../fonts/Teko-Regular.ttf") format("woff");
}

@font-face {
    font-family: Teko;
    font-weight: bold;
    src: url("../fonts/Teko-SemiBold.ttf") format("woff");
}

/* latin-ext */
@font-face {
  font-family: 'Roboto Slab';
  font-style: normal;
  font-display: swap;
  src: url(../../fonts/RobotoSlab-VariableFont_wght.ttf) format('woff2');
  unicode-range: U+0100-02AF, U+0304, U+0308, U+0329, U+1E00-1E9F, U+1EF2-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
  font-family: 'Roboto Slab';
  font-style: normal;
  font-display: swap;
  src: url(../../fonts/RobotoSlab-VariableFont_wght.ttf) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+0304, U+0308, U+0329, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}