/* green transparent page background, no stretching */
* {
    --pageBackgroundColor: #00ff00;
    --pageTextColor: white;
    --blockBackgroundColor: silver;

    /* video header */
    --videoHeaderBackgroundColor: #ab1a1f;
    --videoHeaderTextColor: white;

    /* control record notification on scoreboard and attempt board.
       Set to 10 to show notifications, set to -10 if notifications not wanted */
    --zIndexRecordNotifications: 10;

    /* current attempt section */
    --startNumberBoxColor: red;
    --breakTimerColor: skyblue;
    --athleteTimerColor: yellow;
    --athleteAttemptWeightColor: #a1e94e;
    --downColor: lime;

    --athleteNameColor: white;
    --athleteCategoryColor: white;
    --athleteTeamColor: white;
    --athleteAttemptColor: white;

    --groupInfoColor: white;
}

.dark {
    /* results table section, "white on black", most cells have same dark background as page */

    --TableBorders: var(--EmptyBackgroundColor);
    --TextColor: white;
    --BackgroundColor: var(--EmptyBackgroundColor);

    --TitleTextColor: var(--TextColor);
    --TitleBackgroundColor: var(--BackgroundColor);

    --CurrentTextColor: yellow;
    --CurrentBackgroundColor: var(--EmptyBackgroundColor);

    --NextTextColor: orange;
    --NextBackgroundColor: var(--EmptyBackgroundColor);

    --RequestTextColor: silver;
    --RequestBackgroundColor: var(--EmptyBackgroundColor);

    --StartBackgroundColor: var(--BackgroundColor);
    --StartTextColor: var(--TextColor);

    --NameBackgroundColor: var(--BackgroundColor);
    --NameTextColor: var(--TextColor);

    --CategoryTextColor: var(--TextColor);
    --CategoryBackgroundColor: var(--BackgroundColor);

    --BirthTextColor: var(--TextColor);
    --BirthBackgroundColor: var(--BackgroundColor);

    --TeamTextColor: var(--TextColor);
    --TeamBackgroundColor: var(--BackgroundColor);

    --GoodTextColor: black;
    --GoodBackgroundColor: white;

    --FailTextColor: white;
    --FailBackgroundColor: darkred;

    --RankTextColor: var(--TextColor);
    --RankBackgroundColor: var(--BackgroundColor);

    --TotalRankTextColor: var(--TextColor);
    --TotalRankBackgroundColor: var(--BackgroundColor);

    --TotalTextColor: white;
    --TotalBackgroundColor: blue;

    --SpacerBackgroundColor: var(--blockBackgroundColor);
    --EmptyTextColor: #4d4d4d;
    --EmptyBackgroundColor: #4d4d4d;
    
    /* records table section, white on black */
    /* by default, same as black on white */

    --RecordBoxBorder: var(--pageTextColor);
    --RecordBoxBackground: #4d4d4d;
    --RecordBoxBorderWidth: medium;
    --RecordBoxText: var(--pageTextColor);
    
     --RecordCellBorderWidth: thin;
     --RecordCellBorderColor: var(--pageTextColor);
     
    --RecordCatBackground: var(--RecordBoxBackground);
    --RecordCatText: var(--pageTextColor);

    --RecordValueText: var(--pageTextColor);
    --RecordValueBackground: var(--RecordBoxBackground);

    --RecordNameBackground: var(--blockBackgroundColor);
    --RecordNameText: var(--RecordBoxBackground);

    --RecordLiftTypeBackground: var(--EmptyBackgroundColor);
    --RecordLiftTypeText: var(--TextColor);
    --RecordLiftTypeBorder: var(--TextColor);

    --RecordHighlightBackground: darkOrange;
    --RecordHighlightText: white;
    --AttemptHighlightText: var(--videoHeaderTextColor);
    --AttemptHighlightBackground: var(--videoHeaderBackgroundColor);

}

.light {
    /* results table section, "black on white", cell have a full background different from page background */

    --TableBorders: grey;
    --TextColor: black;
    --BackgroundColor: white;

    --TitleTextColor: black;
    --TitleBackgroundColor: white;

    --CurrentTextColor: var(--TextColor);
    --CurrentBackgroundColor: yellow;

    --NextTextColor: var(--TextColor);
    --NextBackgroundColor: gold;

    --RequestTextColor: var(--TextColor);
    --RequestBackgroundColor: var(--BackgroundColor);

    --StartBackgroundColor: var(--BackgroundColor);
    --StartTextColor: var(--TextColor);

    --NameBackgroundColor: var(--BackgroundColor);
    --NameTextColor: var(--TextColor);

    --CategoryTextColor: var(--TextColor);
    --CategoryBackgroundColor: var(--BackgroundColor);

    --BirthTextColor: var(--TextColor);
    --BirthBackgroundColor: var(--BackgroundColor);

    --TeamTextColor: var(--TextColor);
    --TeamBackgroundColor: var(--BackgroundColor);

    --GoodTextColor: white;
    --GoodBackgroundColor: green;

    --FailTextColor: white;
    --FailBackgroundColor: darkred;

    --RankTextColor: var(--TextColor);
    --RankBackgroundColor: #F9E79F;

    --TotalRankTextColor: var(--TextColor);
    --TotalRankBackgroundColor: var(--RankBackgroundColor);

    --TotalTextColor: var(--GoodTextColor);
    --TotalBackgroundColor: blue;

    --SpacerBackgroundColor: var(--TableBorders);
    --EmptyTextColor: #cccccc;
    --EmptyBackgroundColor: #cccccc;
    
     /* records table section, black on white */
    --RecordBoxBorder: var(--pageTextColor);
    --RecordBoxBackground: grey;
    --RecordBoxBorderWidth: medium;
    --RecordBoxText: var(--pageTextColor);
    
    --RecordCellBorderWidth: thin;
    --RecordCellBorderColor: var(--pageTextColor);
     
    --RecordCatBackground: var(--RecordBoxBackground);
    --RecordCatText: var(--pageTextColor);

    --RecordValueText: var(--pageTextColor);
    --RecordValueBackground: var(--RecordBoxBackground);

    --RecordNameBackground: var(--blockBackgroundColor);
    --RecordNameText: var(--TextColor);

    --RecordLiftTypeBackground: var(--RecordBoxBackground);
    --RecordLiftTypeText: var(--pageTextColor);
    --RecordLiftTypeBorder: var(--pageTextColor);

    --RecordHighlightBackground: green;
    --RecordHighlightText: white;
    --AttemptHighlightText: white;
    --AttemptHighlightBackground: purple;
}

@font-face {
    font-family: Teko;
    src: url("../fonts/Teko-Regular.ttf") format("woff");
}

@font-face {
    font-family: Teko;
    font-weight: bold;
    src: url("../fonts/Teko-SemiBold.ttf") format("woff");
}

/* latin-ext */
@font-face {
  font-family: 'Roboto Slab';
  font-style: normal;
  font-display: swap;
  src: url(../../fonts/RobotoSlab-VariableFont_wght.ttf) format('woff2');
  unicode-range: U+0100-02AF, U+0304, U+0308, U+0329, U+1E00-1E9F, U+1EF2-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
  font-family: 'Roboto Slab';
  font-style: normal;
  font-display: swap;
  src: url(../../fonts/RobotoSlab-VariableFont_wght.ttf) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+0304, U+0308, U+0329, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}