* {
    /*************************
     * Customization section
     *************************/
    --pageBackgroundColor: black;
    --pageTextColor: white;

    /* variable-size columns. fr = free space after other columns have been allocated.
       for ease of understanding, sum of all fr columns should be 1.00.
    */
    --nameWidth: 1fr;
    --clubWidth: max-content;
    --tableWidthRatio: 100%;
    --defaultLeaderFillerHeight: 1fr;

    /* left column width: adjust depending on how you name groups */
    --startWidth: min-content;
    --startVisibility: visible;
    
    /* spacers */
    --spacerWidth: 1vh;

    /* normally these do not need to change */
    --categoryWidth: 11ch;
    --categoryVisibility: visible;
       
    --liftResultWidth: 6ch;

    /* to show these columns 
    - change hidden to visible
    - set the width to value like 8ch 
    */
    --birthWidth: 0;
    --birthVisibility: hidden;
    --custom1Width: 0;
    --custom1Visibility: hidden;
    --custom2Width: 0;
    --custom2Visibility: hidden;

    --rankWidth: var(--liftResultWidth);
    --rankVisibility: visible;
    --totalRankWidth: var(--liftResultWidth);

    /* 
    --bestWidth: var(--liftResultWidth);
    --bestVisibility: visible;
    */
    --bestWidth: 0;
    --bestVisibility: hidden;

    /* top part: current attempt information */
    --topRowFontSize: 3vh;
    --athleteNameFontSize: 4vh;
    --groupInfoFontSize: 2.5vh;

    /* records */
    --recordValueCellWidth: 4rem;

    /* leaders section control grid lines visibility */
    --leaderLineHeight: min-content;

    box-sizing: border-box;
    --nbRanks: 1;
}

:host .light table.results {
    --spacerWidth: 0vh;
    --rowSmallSpacerHeight: 0;
}
:host .dark table.results {
    --spacerWidth: 1vh;
    --rowSmallSpacerHeight: 0.25vh;
}

.blockPositioningWrapper {
    background-color: var(--blockBackgroundColor);
    /* width: fit-content;*/ /* fit-content is used for video block */
    padding-right: 1em;
    padding-left: 0.5em;
}

.filler {
    background-color: var(--blockBackgroundColor);
    /* min-height: 1.5em; */
}

td.flags div img {
	width: calc(var(--athleteNameFontSize)*1.2);
    height: calc(var(--athleteNameFontSize)*0.8);
    margin: 1vh;
    align-self: center;
    border: 1px;
    border-style: solid;
}
td.flags div.flags {
    height: calc(var(--athleteNameFontSize)*0.8);
    line-height:  var(--athleteNameFontSize);
    align-self: center;
    display: flex;
}

td.custom1 div {
    /* pre-wrap is used for multiple lines custom1 custom2 */
    /* white-space: pre-wrap; */
    text-align: center;
}
td.custom2 div {
    /* pre-wrap is used for multiple lines custom1 custom2 */
    /* white-space: pre-wrap; */
    text-align: center;
}
