* {
    /*************************
     * Customization section
     *************************/
    --pageBackgroundColor: #00ff00;
    --pageTextColor: white;

    /* variable-size columns. fr = free space after other columns have been allocated.
       for ease of understanding, sum of all fr columns should be 1.00.
    */
    --nameWidth: 1fr;
    --clubWidth: max-content;
    --tableWidthRatio: 90%;
    --defaultLeaderFillerHeight: 1.75em;

    /* left column width: adjust depending on how you name groups */
    --startWidth: 0em;
    --startVisibility: hidden;
    
    /* spacers */
    --spacerWidth: 1vh;

    /* normally these do not need to change */
    --categoryWidth: 11ch;
    --categoryVisibility: visible;

    --liftResultWidth: 6ch;

    /* to show these columns 
    - change hidden to visible
    - set the width to value like 8ch 
    */
    --birthWidth: 6ch;
    --birthVisibility: visible;
    --custom1Width: 0;
    --custom1Visibility: hidden;
    --custom2Width: 0;
    --custom2Visibility: hidden;

    --rankWidth: var(--liftResultWidth);
    --rankVisibility: visible;
    --totalRankWidth: var(--liftResultWidth);
    --totalRankVisibility: visible;
    
    --bestWidth: var(--liftResultWidth);
    --bestVisibility: visible;

    /* top part: current attempt information */
    --topRowFontSize: 3vh;
    --athleteNameFontSize: 4vh;
    --groupInfoFontSize: 2.5vh;

    /* records */
    --recordValueCellWidth: 4rem;
    --recordTypeHeightRatio: 75%;
    --recordsNotificationFontSize: 2.0em;

    /* leaders section control grid lines visibility */
    --leaderLineHeight: min-content;

    box-sizing: border-box;
    --nbRanks: 1;
}

.blockPositioningWrapper {
    background-color: var(--blockBackgroundColor);
    padding: 0.75em;
    margin-top: 1em;
    flex-grow: 0;
}

.filler {
    background-color: var(--blockBackgroundColor);
    /* min-height: 1.5em; */
}

:host .light table.results {
    --spacerWidth: 0vh;
    --rowSmallSpacerHeight: 0;
}
:host .dark table.results {
    --spacerWidth: 1vh;
    --rowSmallSpacerHeight: 0.25vh; /* set to 0.25vh if transparent background */
}

td.flags div img {
	width: calc(var(--athleteNameFontSize)*1.2);
    height: calc(var(--athleteNameFontSize)*0.8);
    margin: 1vh;
    align-self: center;
    border: 1px;
    border-style: solid;
}

td.flags div.flags {
    height: calc(var(--athleteNameFontSize)*0.8);
    line-height: calc(var(--athleteNameFontSize)*0.8);
    align-self: center;
    display: flex;
}

td.custom1 div {
    /* pre-wrap is used for multiple lines custom1 custom2 */
    /* white-space: pre-wrap; */
    text-align: center;
}
td.custom2 div {
    /* pre-wrap is used for multiple lines custom1 custom2 */
    /* white-space: pre-wrap; */
    text-align: center;
}

