/target/
/pom.xml.versionsBackup
/database/
/logs/
/node_modules/
/webpack.generated.js
/.apt_generated/
/.apt_generated_tests/
/package-lock.json
/package.json
/local/
/.flattened-pom.xml
