<?xml version="1.0" encoding="UTF-8"?>
<!-- 
Testing/development logback file, writes to CONSOLE
Also used for certain cloud services (e.g. Heroku)
-->
<configuration scan="true" debug="false">

	<appender name="CONSOLE"
		class="ch.qos.logback.core.ConsoleAppender">
		<target>System.out</target>
		<encoder>
			<pattern>
				%d{HH:mm:ss.SSS} %-5level %-75msg [%logger{100}:%L %M]%n
			</pattern>
		</encoder>
	</appender>

	<logger name="app.owlcms" level="INFO" />

	<!-- silence spurious warning messages -->
	<logger name="org.eclipse.jetty.annotations.AnnotationParser" level="ERROR" />
    <logger name="org.eclipse.jetty.io.EofException" level="ERROR" />
    <logger name="javax.servlet.ServletException" level="ERROR" />
    <logger name="app.owlcms.init.HttpsEnforcer" level="ERROR" />
    <logger name="com.vaadin.flow.server.ServiceException" level="ERROR" />
	<logger name="com.vaadin.flow.server.DefaultDeploymentConfiguration" level="ERROR" />
	<logger name="h2database" level="WARN" />

	<root level="WARN">
		<appender-ref ref="CONSOLE" />
	</root>

</configuration>
