* {
    --pageBackgroundColor: black;
    --pageTextColor: white;

    /* current attempt section */

    --startNumberBoxColor: red;
    --breakTimerColor: skyblue;
    --athleteTimerColor: yellow;
    --athleteAttemptWeightColor: aqua;
    --downColor: lime;

    --athleteNameColor: white;
    --athleteCategoryColor: white;
    --athleteTeamColor: white;
    --athleteAttemptColor: white;

    --groupInfoColor: white;

    /* results table section, "black on white", cell have a full background different from page background */

    --lightTableBorders: grey;
    --lightTextColor: black;
    --lightBackgroundColor: white;

    --lightTitleTextColor: black;
    --lightTitleBackgroundColor: white;

    --lightCurrentTextColor: var(--lightTextColor);
    --lightCurrentBackgroundColor: yellow;

    --lightNextTextColor: var(--lightTextColor);
    --lightNextBackgroundColor: gold;

    --lightCategoryTextColor: var(--lightTextColor);
    --lightCategoryBackgroundColor: var(--lightBackgroundColor);

    --lightBirthTextColor: var(--lightTextColor);
    --lightBirthBackgroundColor: var(--lightBackgroundColor);

    --lightTeamTextColor: var(--lightTextColor);
    --lightTeamBackgroundColor: var(--lightBackgroundColor);

    --lightGoodTextColor: white;
    --lightGoodBackgroundColor: green;

    --lightFailTextColor: white;
    --lightFailBackgroundColor: darkred;

    --lightRankTextColor: var(--lightTextColor);
    --lightRankBackgroundColor: #F9E79F;

    --lightTotalRankTextColor: var(--lightTextColor);
    --lightTotalRankBackgroundColor: var(--lightRankBackgroundColor);
    --lightTotalTextColor: var(--lightGoodTextColor);
    --lightTotalBackgroundColor: blue;

    --lightSpacerBackgroundColor: var(--lightTableBorders);
    --lightEmptyBackgroundColor: slateGrey;

    /* results table section, "white on black", most cells have same dark background as page */

    --darkTableBorders: var(--pageTextColor);
    --darkTextColor: var(--pageTextColor);
    --darkBackgroundColor: var(--pageBackgroundColor);

    --darkTitleTextColor: var(--darkTextColor);
    --darkTitleBackgroundColor: var(--darkBackgroundColor);

    --darkCurrentTextColor: yellow;
    --darkCurrentBackgroundColor: var(--darkBackgroundColor);

    --darkNextTextColor: orange;
    --darkNextBackgroundColor: var(--darkBackgroundColor);

    --darkCategoryTextColor: var(--darkTextColor);
    --darkCategoryBackgroundColor: var(--darkBackgroundColor);

    --darkBirthTextColor: var(--darkTextColor);
    --darkBirthBackgroundColor: var(--darkBackgroundColor);

    --darkTeamTextColor: var(--darkTextColor);
    --darkTeamBackgroundColor: var(--darkBackgroundColor);

    --darkGoodTextColor: white;
    --darkGoodBackgroundColor: green;

    --darkFailTextColor: white;
    --darkFailBackgroundColor: darkred;

    --darkRankTextColor: var(--darkTextColor);
    --darkRankBackgroundColor: var(--darkBackgroundColor);

    --darkTotalRankTextColor: var(--darkTextColor);
    --darkTotalRankBackgroundColor: var(--darkBackgroundColor);
    --darkTotalTextColor: var(--darkGoodTextColor);
    --darkTotalBackgroundColor: blue;

    --darkSpacerBackgroundColor: var(--darkBackgroundColor);
    --darkEmptyBackgroundColor: slateGrey;
    
    /* large record notifications: set to hidden if they are not wanted. */
    --showRecordNotifications: visible

    /* records table section, white on black */
    --lightRecordBoxBorder: var(--pageTextColor); 
    --lightRecordBoxBackground: var(--pageBackgroundColor);
    --lightRecordBoxText: var(--pageTextColor);

    --lightRecordValueText: var(--pageTextColor);
    --lightRecordValueBackground: var(--pageBackgroundColor);

    --lightRecordNameBackground: var(--pageBackgroundColor);
    --lightRecordNameText: var(--pageTextColor);

    --lightRecordLiftTypeBackground: var(--pageBackgroundColor); 
    --lightRecordLiftTypeText: var(--pageTextColor);

    --lightRecordHighlightBackground: green;
    --lightRecordHighlightText: white;
    --lightAttemptHighlightText: white;
    --lightAttemptHighlightBackground: purple;

    /* records table section, black on white */
    /* by default, same as white on black */

    --darkRecordBoxBorder: var(--pageTextColor); 
    --darkRecordBoxBackground: var(--pageBackgroundColor);
    --darkRecordBoxText: var(--pageTextColor);

    --darkRecordValueText: var(--pageTextColor);
    --darkRecordValueBackground: var(--pageBackgroundColor);

    --darkRecordNameBackground: var(--pageBackgroundColor);
    --darkRecordNameText: var(--pageTextColor);

    --darkRecordLiftTypeBackground: var(--pageBackgroundColor); 
    --darkRecordLiftTypeText: var(--pageTextColor);

    --darkRecordHighlightBackground: green;
    --darkRecordHighlightText: white;
    --darkAttemptHighlightText: white;
    --darkAttemptHighlightBackground: purple;
}