@import 'colors.css';

* {
    box-sizing: border-box;
}

.wrapper {
    --attemptBarFontSize: 1.8em;
    --fontSizeRows-height: 2.2vh;
}

table.results tr td {
    --narrow-width: 4em;
    --rank-width: 10ch;
    --max-narrow-width: 5ch;
    --veryNarrow-width: 4.5ch;
    --max-veryNarrow-width: 4.5ch;
    --medium-width: 6ch;
    --category-width: 9ch;
    line-height: 135%;
}

.showRank {
    display: table-cell;
    width: var(--rank-width);
    text-align: left;
    background-color: var(--pageBackgroundColor);
    background-color: green;
}

.showRank div, .totalRank div {
    margin-right: 2em;
    margin-left: 0.6em;
    border: none;
    background-color: var(--pageBackgroundColor);
    color: var(--pageTextColor);
    font-size: var(--fontSizeRows-height);
}

div > div.attemptBar > div.attempts > table > tr > td.totalRank {
    margin-right: 0;
}

.wrapper {
    font-family: Arial, Helvetica, sans-serif;
    color: var(--pageTextColor);
    background-color: var(--pageBackgroundColor);
    padding: 2vmin 2vmin 2vmin 2vmin;
    overflow: hidden;
}

.attemptBar {
    display: grid;
    font-size: var(--attemptBarFontSize);
    justify-content: space-between;
    grid-template-columns: 4ch 1fr 0.5fr 10ch 10ch 15ch;
    grid-template-rows: auto auto;
    align-items: center;
    justify-items: center;
}

.attemptBar .startNumber {
    align-self: center;
}

.attemptBar .startNumber span {
    font-size: 70%;
    font-weight: bold;
    border-width: 0.2ex;
    border-style: solid;
    border-color: var(--startNumberBoxColor);
    display: flex;
    width: 1.5em;
    justify-content: center;
    align-self: center;
    grid-column: 1/2;
    grid-row: 1/1;
}

.attemptBar .fullName {
    font-weight: bold;
    justify-self: left;
    grid-column: 2/3;
}

.attemptBar .club {
    width: var(--club-width);
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    grid-area: 3/4;
}

.attemptBar .attempt {
    grid-column: 4/5;
}

.attemptBar .weight {
    color: var(--athleteAttemptWeightColor);
    grid-column: 5/6
}

.attemptBar .timer {
    font-weight: bold;
    grid-column: 6/7;
    grid-row: 1/2;
}

.attemptBar .decisionBox {
    width: 100%;
    height: 100%;
    background-color: var(--pageBackgroundColor);
    grid-column: 6/7;
    grid-row: 1/3;
}

.attemptBar .attempts {
    grid-column: 2/span 4;
    grid-row: 2/3;
    justify-self: left;
}

.breakTime {
    /* color: #99CCFF; */
    color: SkyBlue;
    grid-column: 6/7;
}

.athleteTimer {
    color: yellow;
}

table.results {
    border: none;
    background-color: var(--darkBackgroundColor);
    border-spacing: 0.2em;
    margin-left: -0.2em;
    width:  100%;
}

:host(.dark) table.results tr {
    background-color: var(--darkBackgroundColor);
    color: var(--darkTextColor);
}

:host(.light) table.results tr {
    background-color: var(--lightBackgroundColor);
    color: var(--lightTextColor);
}

table.results th,
table.results td {
    padding: 0;
    margin: 0;
    background-clip: padding-box;
    font-size: var(--fontSizeRows-height);
}

:host(.dark) th,
:host(.dark) td {
    font-weight: normal;
    border: solid 1px var(--darkTableBorders);
}

:host(.light) th,
:host(.light) td {
    font-weight: bold;
    /* intentional dark border */
    border: solid 1px var(--darkTableBorders);
}

.name {
    width: var(--name-width);
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.name div {
    max-width: calc(var(--name-max-width));
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}


.club div {
    max-width: var(--club-max-width);
    margin: auto;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.ellipsis {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

table.results td.showRank, table.results td.totalRank {
    border: none;
    font-size: var(--tableFontSize);
    background-color: var(--darkBackgroundColor);
    color: var(--pageTextColor);
    width: var(--rank-width);
    font-weight: normal;
}

table.results td.category {
    width: var(--category-width);
    white-space: nowrap;
    border: none;
    background-color: var(--pageBackgroundColor);
    font-size: var(--fontSizeRows-height)*1.1;
}

table.results td.category div {
    width: var(--category-width);
    display: inline-block;
    color: var(--pageTextColor);
}

table.results td.liftName {
    /*! width: var(--category-width); */
    white-space: nowrap;
    border: none;
    background-color: var(--pageBackgroundColor);
    text-align: center;
}

table.results td.liftName div {
    /*! width: var(--category-width); */
    /* display: contents; */
    color: var(--pageTextColor);
    font-size: var(--fontSizeRows-height);
    margin-right: 1em;
    /* margin-left: 2ch; */
}

:host(.dark) td.good {
    background-color: var(--darkGoodBackgroundColor);
    color: var(--darkGoodTextColor);
    font-weight: bold;
    width: var(--narrow-width);
    text-align: center;
}

:host(.light) .good {
    background-color: var(--lightGoodBackgroundColor);
    color: var(--lightGoodTextColor);
    font-weight: bold;
    width: var(--narrow-width);
    text-align: center;
}

:host(.dark) td.fail {
    background-color: var(--darkFailBackgroundColor);
    color: var(--darkFailTextColor);
    font-weight: bold;
    width: var(--narrow-width);
    text-align: center;
}

:host(.light) td.fail {
    background-color: var(--lightFailBackgroundColor);
    color: var(--lightFailTextColor);
    font-weight: bold;
    width: var(--narrow-width);
    text-align: center;
}

:host(.dark) .spacer {
    background-color: var(--darkSpacerBackgroundColor);
}


:host(.light) .spacer {
    background-color: var(--lightSpacerBackgroundColor);
}

.english {
    font-size: 85%;
}

:host(.dark) .request {
    background-color: black;
    font-style: italic;
    width: var(--narrow-width);
    text-align: center;
}

:host(.light) .request {
    background-color: white;
    font-style: italic;
    width: var(--narrow-width);
    text-align: center;
}

:host(.dark) td.current {
    color: var(--darkCurrentTextColor);
    background-color: var(--darkCurrentBackgroundColor);
    font-weight: bold;
    width: var(--narrow-width);
    text-align: center;
}

:host(.light) td.current {
    color: var(--lightCurrentTextColor);
    background-color: var(--lightCurrentBackgroundColor);
    font-weight: bold;
    width: var(--narrow-width);
    text-align: center;
}


.blink {
    animation: blink 1.5s step-start 0s infinite;
    -webkit-animation: blink 1.5s step-start 0s infinite;
}

@keyframes blink {
    50% {
        opacity: 0.0;
    }
}

@-webkit-keyframes blink {
    50% {
        opacity: 0.0;
    }
}

:host(.dark) .next {
    color: orange;
    font-weight: bold;
}

:host(.dark) td.next {
    color: gold;
    font-weight: bold;
}

:host(.light) td.next {
    background-color: gold;
    font-weight: bold;
}

:host(.dark) table.results td.empty {
    background-color: var(--lightEmptyBackgroundColor);
    font-style: italic;
    width: var(--narrow-width);
}

:host(.light) table.results td.empty {
    background-color: var(--darkEmptyBackgroundColor);
    font-style: italic;
    width: var(--narrow-width);
}

:host(.dark) table.results td.total {
    background-color: var(--lightTotalBackgroundColor);
    color: var(--lightTotalTextColor);
    width: var(--narrow-width);
    text-align: center;
    font-style: normal;
    font-weight: bold;
}

:host(.light) table.results td.total {
    background-color: var(--darkTotalBackgroundColor);
    color: var(--darkTotalTextColor);
    width: var(--narrow-width);
    text-align: center;
    font-style: normal;
    font-weight: bold;
}


.v-system-error {
    display: none;
}

thead {
    display: none
}

.clubNameEllipsis {
    max-width: var(--clubName-max-width);
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    margin: auto;
    text-align: left;
}

.hiddenTitle {
    display: none;
}

.bigTitle {
    align-items: center;
    justify-content: center;
    text-align: center;
    height: 140px;
    line-height: 90px;
}

.competitionName {
    font-size: 4em;
}

.nextGroup {
    font-size: 2em;
}