@import 'colors.css';

* {
    box-sizing: border-box;ga
}

.wrapper {
    --narrow-width: 5ch;
    --max-narrow-width: 5ch;
    --veryNarrow-width: 4.5ch;
    --max-veryNarrow-width: 4.5ch;
    --medium-width: 6ch;
}

/* wide screen */
@media screen and (min-width: 1401px) {
    .wideTeams {
        --fontSizeRank-height: 0.75em;
        --fontSizeRows-height: 0.75em;
        --name-width: 20vw;
        --name-max-width: 100%;
        --club-width: 20vw;
        --club-max-width: 100%;
        --category-width: 10ch;
        --category-max-width: 100%;
        --rank-width: 5ch;
        --group-width: 5vw;
    }

    .wideTeams {
        --fontSizeRank-height: 0.75em;
        --fontSizeRows-height: 0.75em;
        --name-width: 35vw;
        --name-max-width: 100%;
        --club-width: 8vw;
        --club-max-width: 100%;
        --category-width: 12ch;
        --category-max-width: 100%;
        --rank-width: 5ch;
        --group-width: 5vw;
    }

    .showThRank {
        border-collapse: collapse;
        border: solid 1px DarkGray;
        border-left-style: none;
        padding: 0.5vmin 1vmin 0.5vmin 1vmin;
        font-size: var(--fontSizeRank-height);
        font-weight: normal;
        font-style: italic;
        width: 4vw;
        text-align: center;
        font-size: var(--fontSizeRank-height);
    }

    .showRank {
        display: table-cell;
        width: var(--rank-width);
        font-size: var(--fontSizeRows-height);
        text-align: center;
    }

    .showRank div {
        width: var(--rank-width);
        margin: auto;
    }

    th,
    td {
        font-size: var(--fontSizeRows-height);
    }
}

/* 720 screen or 1366 laptop */
@media screen and (max-width: 1400px) and (min-width: 1280px) {
    .wideTeams {
        --fontSizeRank-height: 0.75em;
        --fontSizeRows-height: 0.75em;
        --name-width: 20vw;
        --name-max-width: 20vw;
        --club-width: 25vw;
        --club-max-width: 100%;
        --category-width: 10ch;
        --category-max-width: 100%;
        --rank-width: 5ch;
        --group-width: 5vw;
    }

    .narrowTeams {
        --fontSizeRank-height: 0.75em;
        --fontSizeRows-height: 0.75em;
        --name-width: 35vw;
        --name-max-width: 23vw;
        --club-width: 12ch;
        --club-max-width: 100%;
        --category-width: 12ch;
        --rank-width: 5ch;
        --group-width: 5vw;
    }

    .showThRank {
        border-collapse: collapse;
        border: solid 1px DarkGray;
        border-left-style: none;
        padding: 0.5vmin 1vmin 0.5vmin 1vmin;
        font-size: var(--fontSizeRank-height);
        font-weight: normal;
        font-style: italic;
        width: 4vw;
        text-align: center;
        font-size: var(--fontSizeRank-height);
    }

    .showRank {
        display: table-cell;
        font-size: var(--fontSizeRows-height);
        text-align: center;
        width: var(--rank-width);
    }

    .showRank div {
        width: var(--rank-width);
        margin: auto;
    }

    th,
    td {
        font-size: var(--fontSizeRows-height);
    }
}

/* 1024 projector */
@media screen and (max-width: 1279px) {
    .wideTeams {
        --fontSizeRank-height: 0.8em;
        --fontSizeRows-height: 0.75em;
        --name-width: 20vw;
        --name-max-width: 30ch;
        --club-width: 20vw;
        --club-max-width: 30ch;
        --clubName-max-width: 20ch;
        --category-width: 10ch;
        --rank-width: 6ch;
        --group-width: 5vw;
    }

    .narrowTeams {
        --fontSizeRank-height: 0.8em;
        --fontSizeRows-height: 0.75em;
        --name-width: 35vw;
        --name-max-width: 100%;
        --club-width: 12ch;
        --club-max-width: 100%;
        --category-width: inherit;
        --rank-width: 5ch;
        --group-width: 5vw;
    }

    .showThRank {
        display: none;
        width: 0px;
        padding: 0 0 0 0;
        margin: 0 0 0 0;
        font-size: var(--fontSizeRank-height);
    }

    .showRank {
        display: none;
        width: 0px;
        padding: 0 0 0 0;
        margin: 0 0 0 0;
        font-size: var(--fontSizeRows-height);
    }

    th,
    td {
        font-size: var(--fontSizeRows-height);
    }
}

.wrapper {
    font-family: Arial, Helvetica, sans-serif;
    color: var(--pageTextColor);
    background-color: var(--pageBackgroundColor);
    padding: 2vmin 2vmin 2vmin 2vmin;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    flex-wrap: no-wrap;
    justify-content: flex-start;
}

.attemptBar {
    display: grid;
    font-size: 3.6vmin;
    justify-content: space-between;
    height: 4vmin;
    grid-template-columns: 4ch 30ch 20ch 10ch 10ch 30em;
}

.attemptBar .startNumber {
    align-self: center;
}

.attemptBar .startNumber span {
    font-size: 70%;
    font-weight: bold;
    border-width: 0.2ex;
    border-style: solid;
    border-color: var(--startNumberBoxColor);
    display: flex;
    width: 1.5em;
    justify-content: center;
    align-self: center;
    grid-column: 1/2;
}


.attemptBar .fullName {
    font-weight: bold;
    text-align: left;
    grid-column: 2/3;
}

.attemptBar .club {
    width: var(--club-width);
    text-align: center;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    grid-area: 3/4;
}

.attemptBar .attempt {
    grid-column: 4/5;
}

.attemptBar .weight {
    color: var(--athleteAttemptWeightColor);
    justify-content: center;
    align-items: baseline;
    grid-column: 5/6
}

.attemptBar .timer {
    text-align: right;
    font-weight: bold;
    width: 10vw;
    grid-column: 6/7;
}

.attemptBar .decisionBox {
    /*position: fixed;
    top: 2vmin;
    right: 2vmin;
    */
    width: 15vw;
    height: 10vh;
    background-color: var(--pageBackgroundColor);
    grid-column: 6/7;
}

.breakTime {
    /* color: #99CCFF; */
    color: SkyBlue;
    grid-column: 6/7;
}

.athleteTimer {
    color: yellow;
    grid-column: 6/7;
}

.group {
    font-size: 3vh;
    margin-top: 1vh;
    margin-bottom: 2vh;
}

table.results {
    table-layout: fixed;
    border-collapse: collapse;
    border: none;
    background-color: var(--darkBackgroundColor);
    grid-area:2/2 span 4
    /*margin-bottom: 2vmin;*/
}

:host(.dark) table.results tr {
    background-color: var(--darkBackgroundColor);
    color: var(--darkTextColor);
}

:host(.light) table.results tr {
    background-color: var(--lightBackgroundColor);
    color: var(--lightTextColor);
}

th,
td {
    border-collapse: collapse;
    border: solid 1px DarkGray;
    padding: 0.4vmin 1vmin 0.4vmin 1vmin;
    background-clip: padding-box;
    font-size: var();
}

:host(.dark) th,
td {
    font-weight: normal;
}

:host(.light) th,
td {
    font-weight: bold;
}

.name {
    width: var(--name-width);
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.name div {
    max-width: calc(var(--name-max-width));
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}


.club div {
    max-width: var(--club-max-width);
    text-align: center;
    margin: auto;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.ellipsis {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.thRank {
    border-collapse: collapse;
    border: solid 1px DarkGray;
    border-left-style: none;
    padding: 0.5vmin 1vmin 0.5vmin 1vmin;
    font-weight: normal;
    font-style: italic;
    width: var(--rank-width);
    text-align: center;
    font-size: var(--fontSizeRank-height);
}

.thRank div {
    width: var(--rank-width);
    margin: auto;
}

.narrow {
    width: var(--narrow-width);
    text-align: center;
}

.narrow div {
    width: var(--max-narrow-width);
    display: inline-block;
}

.veryNarrow {
    width: var(--veryNarrow-width);
    text-align: center;
}

.veryNarrow div {
    width: var(--max-veryNarrow-width);
    display: inline-block;
}

.groupCol {
    width: var(--group-width);
    white-space: nowrap;
    text-align: center;
    font-size: var(--fontSizeRank-height)
}

.groupCol div {
    width: var(--group-width);
    display: inline-block;
}

.category {
    width: var(--category-width);
    white-space: nowrap;
    text-align: center;
}

.category div {
    width: var(--category-width);
    display: inline-block;
}

:host(.dark) .good {
    background-color: var(--darkGoodBackgroundColor);
    color: var(--darkGoodTextColor);
    font-weight: bold;
}

:host(.light) .good {
    background-color: var(--lightGoodBackgroundColor);
    color: var(--lightGoodTextColor);
    font-weight: bold;
}

:host(.dark) .fail {
    background-color: var(--darkFailBackgroundColor);
    color: var(--darkFailTextColor);
    font-weight: bold;
}

:host(.light) .fail {
    background-color: var(--lightFailBackgroundColor);
    color: var(--lightFailTextColor);
    font-weight: bold;
}

:host(.dark) .spacer {
    background-color: var(--darkSpacerBackgroundColor);
}


:host(.light) .spacer {
    background-color: var(--lightSpacerBackgroundColor);
}

.english {
    font-size: 85%;
}

:host(.dark) .request {
    background-color: black;
    font-style: italic;
}

:host(.light) .request {
    background-color: white;
    font-style: italic;
}

:host(.dark) td.current {
    color: yellow;
    font-weight: bold;
}

:host(.light) td.current {
    background-color: yellow;
    font-weight: bold;
}


.blink {
    animation: blink 1.5s step-start 0s infinite;
    -webkit-animation: blink 1.5s step-start 0s infinite;
}

@keyframes blink {
    50% {
        opacity: 0.0;
    }
}

@-webkit-keyframes blink {
    50% {
        opacity: 0.0;
    }
}

:host(.dark) .next {
    color: orange;
    font-weight: bold;
}

:host(.dark) td.next {
    color: gold;
    font-weight: bold;
}

:host(.light) td.next {
    background-color: gold;
    font-weight: bold;
}

:host(.dark) .empty {
    background-color: black;
    font-style: italic;
}

:host(.light) .empty {
    background-color: white;
    font-style: italic;
}


.v-system-error {
    display: none;
}

thead {
    display: none
}

table#leaders-table thead tr.hide {
    visibility: hidden;
    height: 1px;
    line-height: 1px;
    font-size: 1px;
}

table#leaders-table thead tr.hide th {
    visibility: hidden;
    height: 1px;
    line-height: 1px;
    font-size: 1px;
    padding: 0;
}

.clubNameEllipsis {
    max-width: var(--clubName-max-width);
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    margin: auto;
    text-align: left;
}

.hiddenTitle {
    display: none;
}

.bigTitle {
    align-items: center;
    justify-content: center;
    text-align: center;
}

.competitionName {
    font-size: 4em;
}

.nextGroup {
    font-size: 2em;
}