* {
    box-sizing: border-box;
}

:root {
    --veryNarrow-width: 4%;
    --narrow-width: 6%;
    --group-width: 7ch;
    --category-width: 6ch;
}

/* header cells for rank in the main table, wide screen */

@media screen and (min-width: 1401px) {
    :root {
        --fontSizeRank-height: 0.95em;
        --fontSizeRows-height: 1.15em;
        --name-width: 20vw;
        --club-width: 15vw;
    }
}

/* header cells for rank in the main table, 720 screen or 1366 laptop */

@media screen and (max-width: 1400px) {
    :root {
        --fontSizeRank-height: 0.9em;
        --fontSizeRows-height: 1.1em;
        --name-width: 20vw;
        --club-width: 15vw;
    }
}

/* header cells for rank in the main table, 1024 projector */

@media screen and (max-width: 1024px) {
    :root {
        --narrow-width: 7%;
        --veryNarrow-width: 4.5ch;
        --medium-width: 9%;
        --category-width: 6ch;
        --team-width: 10%;
        --name-width: 16vw;
        --club-width: 10vw;
        --fontSizeRank-height: 0.8em;
        --fontSizeRows-height: 0.9em;
    }
}

.wrapper {
    font-family: Arial, Helvetica, sans-serif;
    color: var(--pageTextColor);
    background-color: var(--pageBackgroundColor);
    height: 100vh;
    padding: 2vmin 2vmin 2vmin 2vmin;
    overflow-y: hidden;
}

.attemptBar {
    display: flex;
    font-size: 3.6vmin;
    justify-content: space-between;
    width: 100%;
    height: 4vmin;
}

.attemptBar .startNumber {
    align-self: center;
}

.attemptBar .startNumber span {
    font-size: 70%;
    font-weight: bold;
    border-width: 0.2ex;
    border-style: solid;
    border-color: var(--startNumberBoxColor);
    width: 1.5em;
    display: flex;
    justify-content: center;
    align-self: center;
}

.attemptBar .athleteInfo {
    display: flex;
    font-size: 3.6vmin;
    justify-content: space-between;
    align-items: baseline;
    width: 100%;
}

.athleteInfo .fullName {
    font-weight: bold;
    flex: 0 0 35%;
    text-align: left;
    /* 	margin-left: 1em; */
    /*margin-right: auto;*/
    flex-grow: 0.5;
}

.athleteInfo .timer {
    flex: 0 0 15%;
    text-align: right;
    font-weight: bold;
    width: 10vw;
    display: flex;
    justify-content: flex-end;
}

.athleteInfo .decisionBox {
    position: fixed;
    top: 2vmin;
    right: 2vmin;
    width: 15vw;
    height: 10vh;
    background-color: var(--pageBackgroundColor);
    display: none;
}

.athleteInfo .weight {
    color: var(--athleteAttemptWeightColor);
    display: flex;
    justify-content: center;
    align-items: baseline;
}

.group {
    font-size: 3vh;
    margin-top: 1vh;
    margin-bottom: 2vh;
}

table.results {
    table-layout: fixed;
    width: 100%;
    border-collapse: collapse;
    border: none;
    background-color: var(--darkBackgroundColor);
    /*margin-bottom: 2vmin;*/
}

:host(.dark) table.results tr {
    background-color: var(--darkBackgroundColor);
    color: var(--darkTextColor);
}

:host(.light) table.results tr {
    background-color: var(--lightBackgroundColor);
    color: var(--lightTextColor);
}

th, td {
    border-collapse: collapse;
    border: solid 1px DarkGray;
    padding: 0.4vmin 1vmin 0.4vmin 1vmin;
    background-clip: padding-box;
    font-size: var(--fontSizeRows-height);
}

:host(.dark) th, td {
    font-weight: normal;
}

:host(.light) th, td {
    font-weight: bold;
}

.ellipsis {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

/* header cells for rank in the main table, wide screen */

@media screen and (min-width: 1401px) {
    .showThRank {
        border-collapse: collapse;
        border: solid 1px DarkGray;
        border-left-style: none;
        padding: 0.5vmin 1vmin 0.5vmin 1vmin;
        font-size: var(--fontSizeRank-height);
        font-weight: normal;
        font-style: italic;
        width: 4vw;
        text-align: center;
    }
}

/* header cells for rank in the main table, XGA projector */

@media screen and (max-width: 1400px) {
    .showThRank {
        display: none;
        width: 0px;
        padding: 0 0 0 0;
        margin: 0 0 0 0;
        font-size: var(--fontSizeRank-heightXGA);
    }
}

.thRank {
    border-collapse: collapse;
    border: solid 1px DarkGray;
    border-left-style: none;
    padding: 0.5vmin 1vmin 0.5vmin 1vmin;
    font-size: var(--fontSizeRows-height);
    font-weight: normal;
    font-style: italic;
    width: var(--veryNarrow-width);
    text-align: center;
}

.narrow {
    width: var(--narrow-width);
    text-align: center;
}

/* rank cells in the main table, wide screen */

@media screen and (min-width: 1401px) {
    .showRank {
        display: table-cell;
        width: var(--veryNarrow-width);
        font-size: var(--fontSizeRows-height);
        text-align: center;
    }
}

/* rank cells in the main table, XGA projector */

@media screen and (max-width: 1400px) {
    .showRank {
        display: none;
        width: 0px;
        padding: 0 0 0 0;
        margin: 0 0 0 0;
        font-size: var(--fontSizeRows-height);
    }
    th, td {
        font-size: var(--fontSizeRows-height);
    }
}

.veryNarrow {
    width: var(--veryNarrow-width);
    text-align: center;
}

.medium {
    width: var(--narrow-width);
    white-space: nowrap;
    text-align: center;
}

.club {
    text-align: center;
}

.narrow {
    width: var(--narrow-width);
    text-align: center;
}

:host(.dark) .good {
    background-color: var(--darkGoodBackgroundColor);
    color: var(--darkGoodTextColor);
    font-weight: bold;
}

:host(.light) .good {
    background-color: var(--lightGoodBackgroundColor);
    color: var(--lightGoodTextColor);
    font-weight: bold;
}

:host(.dark) .fail {
    background-color: var(--darkFailBackgroundColor);
    color: var(--darkFailTextColor);
    font-weight: bold;
}

:host(.light) .fail {
    background-color: var(--lightFailBackgroundColor);
    color: var(--lightFailTextColor);
    font-weight:
}

:host(.dark) .spacer {
    background-color: var(--darkSpacerBackgroundColor);
}

:host(.light) .spacer {
    background-color: var(--lightSpacerBackgroundColor);
}

.english {
    font-size: 85%;
}

:host(.dark) .request {
    background-color: var(--darkBackgroundColor);
    color: var(--darkTextColor);
    font-style: italic;
}

:host(.light) .request {
    background-color: var(--lightBackgroundColor);
    color: var(--lightTextColor);
    font-style: italic;
}

:host(.dark) .current {
    background-color: var(--darkCurrentBackgroundColor);
    color: var(--darkCurrentTextColor);
    font-weight: bold;
}

:host(.light) .current {
    background-color: var(--lightCurrentBackgroundColor);
    color: var(--lightCurrentTextColor);
    font-weight: bold;
}

.blink {
    animation: blink 1.5s step-start 0s infinite;
    -webkit-animation: blink 1.5s step-start 0s infinite;
}

@keyframes blink {
    50% {
        opacity: 0.0;
    }
}

@-webkit-keyframes blink {
    50% {
        opacity: 0.0;
    }
}

:host(.dark) .next {
    background-color: var(--darkNextBackgroundColor);
    color: var(--darkNextTextColor);
    font-weight: bold;
}

:host(.light) .next {
    background-color: var(--lightNextBackgroundColor);
    color: var(--lightNextTextColor);
    font-weight: bold;
}
}

:host(.dark) .empty {
    background-color: var(--darkBackgroundColor);
    font-style: italic;
}

:host(.light) .empty {
    background-color: var(--lightBackgroundColor);
    font-style: italic;
}

.breakTime {
    color: var(--breakTimerColor);
}

.athleteTimer {
    color: var(--athleteTimerColor);
}

.v-system-error {
    display: none;
}