* {
    box-sizing: border-box;

    /* current attempt section */
    --topRowFontSize: 3vh;
    --athleteNameFontSize: 4vh;
    --groupInfoFontSize: 2.5vh;

    /* results table section */
    --tableFontSize: 1.2rem;
    --startWidth: 3em;
    --categoryWidth: 9ch;
    --birthWidth: 6ch;
    --liftResultWidth: 6ch;
}

/* default for page */
.wrapper {
    font-family: Arial, Helvetica, sans-serif;
    color: var(--pageTextColor);
    background-color: var(--pageBackgroundColor);

    min-height: 100vh;
    padding: 0vmin 2vmin 2vmin 2vmin;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    flex-wrap: no-wrap;
    justify-content: flex-start;
}

/* table general parameters */
table.results {
    border-collapse: collapse;
    font-size: var(--tableFontSize);
}

/* default cell colors, backgrounds and borders */
:host(.dark) table.results tr td {
    background-color: var(--darkBackgroundColor);
    color: var(--darkTextColor);
    border: 1px solid;
    border-color: var(--darkTableBorders)
}
:host(.light) table.results tr td {
    background-color: var(--lightBackgroundColor);
    color: var(--lightTextColor);
    border: 1px solid;
    border-color: var(--lightTableBorders)
}

/* name is not centered */
:host(.dark) td.name,
:host(.light) td.name {
    justify-content: left;
}

/* other items are centered */
:host(.dark) th,
:host(.dark) td {
    font-weight: normal;
    justify-content: center;
}
:host(.light) th,
:host(.light) td {
    font-weight: bold;
    justify-content: center;
}

/* category */
:host(.dark) table.results tr td.category {
    background-color: var(--darkCategoryBackgroundColor);
    color: var(--darkCategoryTextColor);
}
:host(.light) table.results tr td.category {
    background-color: var(--lightCategoryBackgroundColor);
    color: var(--lightCategoryTextColor);
}

/* birth */
:host(.dark) table.results tr td.yob {
    background-color: var(--darkBirthBackgroundColor);
    color: var(--darkBirthTextColor);
}
:host(.light) table.results tr td.yob {
    background-color: var(--lightBirthBackgroundColor);
    color: var(--lightBirthTextColor);
}

/* team */
:host(.dark) table.results tr td.club {
    background-color: var(--darkTeamBackgroundColor);
    color: var(--darkTeamTextColor);
}
:host(.light) table.results tr td.club {
    background-color: var(--lightTeamBackgroundColor);
    color: var(--lightTeamTextColor);
}

/* good/bad cells */
:host(.dark) table.results tr td.good {
    background-color: var(--darkGoodBackgroundColor);
    color: var(--lightGoodTextColor);
    font-weight: bold;
}
:host(.light) table.results tr td.good {
    background-color: var(--lightGoodBackgroundColor);
    color: var(--lightGoodTextColor);
}
:host(.dark) table.results tr td.fail {
    background-color: var(--darkFailBackgroundColor);
    color: var(--darkFailTextColor);
    font-weight: bold;
}
:host(.light) table.results tr td.fail {
    background-color: var(--lightFailBackgroundColor);
    color: var(--lightFailTextColor);
}

/* snatch and c&j ranks */
:host(.dark) table.results tr td.showRank {
    background-color: var(--darkRankBackgroundColor);
    color: var(--darkRankTextColor);
}
:host(.light) table.results tr td.showRank {
    background-color: var(--lightRankBackgroundColor);
    color: var(--lightRankTextColor);
}

/* total rank */
:host(.dark) table.results tr.athlete td.thRank {
    background-color: var(--darkTotalRankBackgroundColor);
    color: var(--darkTotalRankTextColor);
}
:host(.light) table.results tr.athlete td.thRank {
    background-color: var(--lightTotalRankBackgroundColor);
    color: var(--lightTotalRankTextColor);
}

/* spacer line between categories */
:host(.dark) table.results tr td.spacer {
    background-color: var(--darkBackgroundColor);
    padding: 0.4vmin 0.4vmin 0.4vmin 0.4vmin;
    border-right: 0;
    grid-column: 1 / -1;
    border: none;
    max-height: 2px;
}
:host(.light) table.results tr td.spacer {
    background-color: var(--lightTableBorders);
    padding: 0.4vmin 0.4vmin 0.4vmin 0.4vmin;
    grid-column: 1 / -1;
    border: none;
    max-height: 2px;
}

/* filler space above leaders */
:host(.dark) table.results tr td.filler {
    background-color: var(--pageBackgroundColor);
    grid-column: 1 / -1;
    align-content: stretch;
    border: none;
}
:host(.light) table.results tr td.filler {
    background-color: var(--pageBackgroundColor);
    grid-column: 1 / -1;
    align-content: stretch;
    border: none;
}

/* requested weight column */
:host(.dark) .request {
    font-style: italic;
}
:host(.light) .request {
    font-style: italic;
}

/* current athlete colors and blinks */
:host(.dark) table.results tr td.current {
    color: var(--darkCurrentTextColor);
    background-color: var(--darkCurrentBackgroundColor);
    font-weight: bold;
}
:host(.light) table.results tr td.current {
    color: var(--lightCurrentTextColor);
    background-color: var(--lightCurrentBackgroundColor);
    font-weight: bold;
}
/* blinking text is done with a div animation */
:host(.dark) table.results div.blink {
    animation: blink 1.5s step-start 0s infinite;
}
/* blinking a background is done with the changeColor animation defined below */
:host(.light) table.results td.blink {
    animation: changeColor 1.5s step-start 0s infinite;
}

/* next athlete colors */
:host(.dark) table.results tr td.next {
    color: var(--darkNextTextColor);
    background-color: var(--darkNextBackgroundColor);
    font-weight: bold;
}
:host(.light) table.results tr td.next {
    color: var(--lightNextTextColor);
    background-color: var(--lightNextBackgroundColor);
    font-weight: bold;
}

/* empty cells */
:host(.dark) .empty {
    color: var(--darkTextColor);
    background-color: var(--darkBackgroundColor);
    font-style: italic;
}
:host(.light) .empty {
    color: var(--lightTextColor);
    background-color: var(--lightBackgroundColor);
    font-style: italic;
}

/* grid layout */
table {
    flex: 1;
    /* use all available vertical space */
    display: grid;
    border-collapse: collapse;
    grid-template-rows: repeat(var(--top), min-content) 1fr repeat(var(--bottom),
            min-content);
    grid-template-columns:
        var(--startWidth) minmax(50px, 1fr) var(--categoryWidth) var(--birthWidth) minmax(50px, 0.55fr) repeat(4, var(--liftResultWidth)) repeat(4, var(--liftResultWidth)) repeat(2, var(--liftResultWidth));
}

thead,
tbody,
tr {
    display: contents;
}

th,
td {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    display: flex;
    align-content: stretch;
    padding: 5px;
    margin: 0;
}

:host(.dark) table.results tr.head td,
:host(.dark) table.results tr.head th {
    position: sticky;
    justify-content: center;
    align-content: center;
    font-weight: normal;
    font-size: var(--tableFontSize);
    position: relative;
    padding-top: 2px;
    padding-bottom: 2px;
    border: 1px solid;
    background: var(--darkTitleBackgroundColor);
    color: var(--darkTitleTextColor);
    border-color: var(--darkTitleTextColor);
}

:host(.light) table.results tr.head td,
:host(.light) table.results tr.head th {
    position: sticky;
    justify-content: center;
    align-content: center;
    font-weight: normal;
    font-size: var(--tableFontSize);
    position: relative;
    padding-top: 2px;
    padding-bottom: 2px;
    border: 1px solid;
    background: var(--lightTitleBackgroundColor);
    color: var(--lightTitleTextColor);
    border-color: var(--lightTitleTextColor);
}


@keyframes blink {
    50% {
        opacity: 0;
    }
}

@keyframes changeColor {
    0% {
        background-color: var(--lightCurrentBackgroundColor);
    }

    49.9% {
        background-color: var(--lightCurrentBackgroundColor);
    }

    50% {
        background-color: var(--lightBackgroundColor);
    }

    100% {
        background-color: var(--lightBackgroundColor);
    }
}

/* top part formatting */
.attemptBar {
    display: flex;
    font-size: var(--topRowFontSize);
    justify-content: space-between;
    width: 100%;
    height: 4vmin;
}

.attemptBar .startNumber {
    align-self: center;
}

.attemptBar .startNumber span {
    font-size: 70%;
    font-weight: bold;
    border-width: 0.2ex;
    border-style: solid;
    border-color: var(--startNumberBoxColor);
    width: 1.5em;
    display: flex;
    justify-content: center;
    align-self: center;
}

.attemptBar .athleteInfo {
    display: flex;
    font-size: 3.4vh;
    justify-content: space-between;
    align-items: baseline;
    width: 100%;
}

.athleteInfo .fullName {
    font-weight: bold;
    flex: 0 0 35%;
    text-align: left;
    flex-grow: 0.5;
    color: var(--athleteNameColor);
    font-size: var(--athleteNameFontSize)
}

.athleteInfo .clubName {
    color: var(--athleteTeamColor);
}

.athleteInfo .attempt {
    color: var(--athleteAttemptColor);
}

.athleteInfo .weight {
    color: var(--athleteAttemptWeightColor);
    display: flex;
    justify-content: center;
    align-items: baseline;
}

.athleteInfo .timer {
    flex: 0 0 15%;
    text-align: right;
    font-weight: bold;
    width: 10vw;
    display: flex;
    justify-content: flex-end;
}

.athleteInfo .decisionBox {
    position: fixed;
    top: 2vmin;
    right: 2vmin;
    width: 15vw;
    height: 10vh;
    background-color: var(--pageBackgroundColor);
    display: none;
}

.group {
    color: var(--groupInfoColor);
    font-size: var(--groupInfoFontSize);
    margin-top: 1vh;
    margin-bottom: 2vh;
}

.breakTime {
    /* color: #99CCFF; */
    color: var(--breakTimeColor);
}

.athleteTimer {
    color: var(--athleteTimerColor);
}

.hiddenTitle {
    display: none;
}

.bigTitle {
    align-items: center;
    justify-content: center;
    text-align: center;
}

.competitionName {
    font-size: 4em;
}

.nextGroup {
    font-size: 2em;
}

.english {
    font-size: 85%;
}