* {
    box-sizing: border-box;

    --tableFontSize: 1.2rem;

    --lightTableBorders: grey;
    --lightTextColor: black;
    --lightBackgroundColor: white;
    --lightCurrentTextColor: var(--lightTextColor);
    --lightCurrentBackgroundColor: yellowgreen;
    --lightNextTextColor: var(--lightTextColor);
    --lightNextBackgroundColor: gold;
    --lightRankTextColor: var(--lightTextColor);
    --lightRankBackgroundColor: #F9E79F ;
    --lightGoodTextColor: white;
    --lightGoodBackgroundColor: blue;
    --lightFailTextColor: white;
    --lightFailBackgroundColor: darkred;

    --darkTableBorders: white;
    --darkTextColor: white;
    --darkBackgroundColor: black;
    --darkCurrentTextColor: yellowgreen;
    --darkCurrentBackgroundColor: var(--darkBackgroundColor);
    --darkNextTextColor: orange;
    --darkNextBackgroundColor: var(--darkBackgroundColor);
    --darkRankTextColor: var(--darkTextColor);
    --darkRankBackgroundColor: var(--darkBackgroundColor);
    --darkGoodTextColor: white;
    --darkGoodBackgroundColor: blue;
    --darkFailTextColor: white;
    --darkFailBackgroundColor: darkred;

    --startWidth: 3em;
    --categoryWidth: 9ch;
    --birthWidth: 6ch;
    --liftResultWidth: 6ch;

    --pageBackgroundColor: black;

}

/* default for page */
.wrapper {
    font-family: Arial, Helvetica, sans-serif;
    color: white;
    background-color: var(--pageBackgroundColor);

    min-height: 100vh;
    padding: 2vmin 2vmin 2vmin 2vmin;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    flex-wrap: no-wrap;
    justify-content: flex-start;
}

/* table colors */
table.results {
    table-layout: fixed;
    width: 100%;
    border-collapse: collapse;
    font-size: var(--tableFontSize);
}

:host(.dark) table.results {
    background-color: var(--darkTableBorders);
    color: var(--darkTextColor);
    gap: 0px;
}

:host(.light) table.results {
    background-color: var(--lightTableBorders);
    color: var(--lightTextColor);
    gap: 0px;
}

:host(.dark) table.results tr td {
    background-color: var(--darkBackgroundColor);
    color: var(--darkTextColor);
    border: 1px solid;
    border-color: var(--darkTableBorders)
}

:host(.light) table.results tr td {
    background-color: var(--lightBackgroundColor);
    color: var(--lightTextColor);
    border: 1px solid;
    border-color: var(--lightTableBorders)
}

:host(.dark) td.name,
:host(.light) td.name {
    justify-content: left;
}

:host(.dark) th,
:host(.dark) td {
    font-weight: normal;
    justify-content: center;
}

:host(.light) th,
:host(.light) td {
    font-weight: bold;
    justify-content: center;
}

:host(.light) table.results tr td.good {
    background-color: var(--lightGoodBackgroundColor);
    font-weight: bold;
    color: var(--lightGoodTextColor);
}

:host(.dark) table.results tr td.good {
    background-color: var(--darkGoodBackgroundColor);
    font-weight: bold;
    color: var(--lightGoodTextColor);;
}

:host(.dark) table.results tr td.fail {
    background-color: var(--lightFailBackgroundColor);
    font-weight: bold;
    color: var(--lightFailTextColor);
}

:host(.light) table.results tr td.fail {
    background-color: var(--lightFailBackgroundColor);
    font-weight: bold;
    color: var(--lightFailTextColor);
}

:host(.dark) table.results tr td.showRank,
:host(.dark) table.results tr.athlete td.thRank {
    background-color: var(--darkRankBackgroundColor);
    font-weight: bold;
    color: var(--darkRankTextColor);
}

:host(.light) table.results tr td.showRank,
:host(.light) table.results tr.athlete td.thRank {
    background-color: var(--lightRankBackgroundColor);
    font-weight: bold;
    color: var(--lightRankTextColor);
}

:host(.dark) table.results tr td.spacer {
    background-color: var(--darkBackgroundColor);
    padding: 0.4vmin 0.4vmin 0.4vmin 0.4vmin;
    border-right: 0;
    grid-column: 1 / -1;
    border: none;
    max-height: 2px;
}

:host(.light) table.results tr td.spacer {
    background-color: var(--lightTableBorders);
    padding: 0.4vmin 0.4vmin 0.4vmin 0.4vmin;
    grid-column: 1 / -1;
    border: none;
    max-height: 2px;
}

:host(.light) table.results tr td.filler {
    background-color: var(--pageBackgroundColor);
    grid-column: 1 / -1;
    align-content: stretch;
    border: none;
}

:host(.dark) table.results tr td.filler {
    background-color: var(--pageBackgroundColor);
    grid-column: 1 / -1;
    align-content: stretch;
    border: none;
}

:host(.dark) .request {
    font-style: italic;
}

:host(.light) .request {
    font-style: italic;
}

:host(.dark) table.results tr td.current {
    color: var(--darkCurrentTextColor);
    background-color: var(--darkCurrentBackgroundColor);
    font-weight: bold;
}

:host(.light) table.results tr td.current {
    color: var(--lightCurrentTextColor);
    background-color: var(--lightCurrentBackgroundColor);
    font-weight: bold;
}

:host(.dark) table.results tr td.next {
    color: var(--darkNextTextColor);
    background-color: var(--darkNextBackgroundColor);
    font-weight: bold;
}

:host(.light) table.results tr td.next {
    color: var(--lightNextTextColor);
    background-color: var(--lightNextBackgroundColor);
    font-weight: bold;
}

:host(.dark) .empty {
    color: var(--darkTextColor);
    background-color: var(--darkBackgroundColor);
    font-style: italic;
}

:host(.light) .empty {
    color: var(--lightTextColor);
    background-color: var(--lightBackgroundColor);
    font-style: italic;
}

/* grid layout */

table {
    flex: 1; /* use all available vertical space */
    display: grid;
    border-collapse: collapse;
    grid-template-rows: repeat(var(--top), min-content) 1fr repeat(var(--bottom),
            min-content);
    grid-template-columns:
        var(--startWidth) minmax(50px, 1fr) var(--categoryWidth) var(--birthWidth) minmax(50px, 0.55fr) repeat(4, var(--liftResultWidth)) repeat(4, var(--liftResultWidth)) repeat(2, var(--liftResultWidth));
}

thead,
tbody,
tr {
    display: contents;
}

th,
td {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    display: flex;
    align-content: stretch;
    padding: 5px;
    margin: 0;
}

:host(.dark) table.results tr.head td,
:host(.dark) table.results tr.head th,
:host(.light) table.results tr.head td,
:host(.light) table.results tr.head th {
    position: sticky;
    background: #6c7ae0;
    justify-content: center;
    align-content: center;
    font-weight: normal;
    font-size: var(--tableFontSize);
    color: white;
    position: relative;
    padding-top: 2px;
    padding-bottom: 2px;
    border: 1px solid;
    border-color: var(--darkTableBorders);
}

:host(.light) table.results td.blink {
    animation: changeColor 1.5s step-start 0s infinite;
}

:host(.dark) table.results div.blink {
    animation: blink 1.5s step-start 0s infinite;
}

@keyframes blink {
    50% {
        opacity: 0;
    }
}

@keyframes changeColor {
    0% {
        background-color: var(--lightCurrentBackgroundColor);
    }

    49.9% {
        background-color: var(--lightCurrentBackgroundColor);
    }

    50% {
        background-color: var(--lightBackgroundColor);
    }

    100% {
        background-color: var(--lightBackgroundColor);
    }
}

/* top part formatting */
.attemptBar {
    display: flex;
    font-size: 2rem;
    justify-content: space-between;
    width: 100%;
    height: 4vmin;
}

.attemptBar .startNumber {
    align-self: center;
}

.attemptBar .startNumber span {
    font-size: 70%;
    font-weight: bold;
    border-width: 0.2ex;
    border-style: solid;
    border-color: red;
    width: 1.5em;
    display: flex;
    justify-content: center;
    align-self: center;
}

.attemptBar .athleteInfo {
    display: flex;
    font-size: 3.4vh;
    justify-content: space-between;
    align-items: baseline;
    width: 100%;
}

.athleteInfo .fullName {
    font-weight: bold;
    flex: 0 0 35%;
    text-align: left;
    flex-grow: 0.5;
}

.athleteInfo .timer {
    flex: 0 0 15%;
    text-align: right;
    font-weight: bold;
    width: 10vw;
    display: flex;
    justify-content: flex-end;
}

.athleteInfo .decisionBox {
    position: fixed;
    top: 2vmin;
    right: 2vmin;
    width: 15vw;
    height: 10vh;
    background-color: black;
    display: none;
}

.athleteInfo .weight {
    color: aqua;
    display: flex;
    justify-content: center;
    align-items: baseline;
}

.group {
    font-size: 2.5vh;
    margin-top: 1vh;
    margin-bottom: 2vh;
}

.breakTime {
    /* color: #99CCFF; */
    color: SkyBlue;
}

.athleteTimer {
    color: yellow;
}

.hiddenTitle {
    display: none;
}

.bigTitle {
    align-items: center;
    justify-content: center;
    text-align: center;
}

.competitionName {
    font-size: 4em;
}

.nextGroup {
    font-size: 2em;
}

.english {
    font-size: 85%;
}