* {
    /*************************
     * Customization section
     *************************/

    /* variable-size columns. fr = free space after other columns have been allocated.
       for ease of understanding, sum of all fr columns should be 1.00.
    */
    --nameWidth: 0.60fr;
    --clubWidth: 0.40fr;
    /* define this if you use acronyms and want flags to line up
    --teamNameShortLength: 4ch;
     */

    /* left column width: adjust depending on how you name groups */
    --startWidth: 0em;
    --startVisibility: hidden;
    
    /* spacers */
    --spacerWidth: 1vh;

    /* normally these do not need to change */
    --categoryWidth: 10ch;
    --liftResultWidth: 6ch;

    /* to show these columns 
    - change hidden to visible
    - set the width to value like 8ch 
    */
    --birthWidth: 6ch;
    --birthVisibility: visible;
    --custom1Width: 0;
    --custom1Visibility: hidden;
    --custom2Width: 0;
    --custom2Visibility: hidden;

    --rankWidth: var(--liftResultWidth);
    --rankVisibility: visible;
    
    --bestWidth: var(--liftResultWidth);
    --bestVisibility: visible;

    /* top part: current attempt information */
    --topRowFontSize: 3vh;
    --athleteNameFontSize: 4vh;
    --groupInfoFontSize: 2.5vh;

    /* records */
    --recordValueCellWidth: 4rem;

    /* leaders section control grid lines visibility */
    --leaderLineHeight: min-content;

    box-sizing: border-box;
    --nbRanks: 1;
}

:host(.light) table.results {
    --spacerWidth: 0vh;
    --rowSmallSpacerHeight: 0;
}
:host(.dark) table.results {
    --spacerWidth: 1vh;
    --rowSmallSpacerHeight: 0.25vh;
}

td.flags div img {
    height: 5vh;
    margin: 1vh;
    align-self: center;
    border: 1px;
    border-style: solid;
}
td.flags div {
    height: 6vh;
    line-height: 6vh;
    align-self: center;
    display: flex;
}

host(.dark) .wrapper table.results tr td.rank {
    color: white;
}
:host(.dark) .wrapper table.results tr td.rank.medal1 {
    background-color: gold;
    color: black;
}
:host(.dark) .wrapper table.results tr td.rank.medal2 {
    background-color: silver;
    color: black;
}
:host(.dark) .wrapper table.results tr td.rank.medal3 {
    background-color: #CD7F32;
    color: black;
}

:host(.dark) .wrapper table.results tr td.totalRank {
    color: white;
}
:host(.dark) .wrapper table.results tr td.totalRank.medal1 {
    background-color: gold;
    color: black;
}
:host(.dark) .wrapper table.results tr td.totalRank.medal2 {
    background-color: silver;
    color: black;
}
:host(.dark) .wrapper table.results tr td.totalRank.medal3 {
    background-color: #CD7F32;
    color: black;
}

:host(.light) .wrapper table.results tr td.rank {
    border-color: var(--lightTableBorders);
    color: white;
    border-width: 0.6em;
    border-style: solid;
}
:host(.light) .wrapper table.results tr td.rank.medal1 {
    background-color: gold;
    color: black;
}
:host(.light) .wrapper table.results tr td.rank.medal2 {
    background-color: silver;
    color: black;
}
:host(.light) .wrapper table.results tr td.rank.medal3 {
    background-color: #CD7F32;
    color: black;
}

:host(.light) .wrapper table.results tr td.totalRrank {
    border-color: var(--lightTableBorders);
    color: white;
    border-width: 0.6em;
    border-style: solid;
}
:host(.light) .wrapper table.results tr td.totalRank.medal1 {
    background-color: gold;
    color: black;
    border-color: var(--lightTableBorders);
    border-width: 0.6em;
    border-style: solid;
}
:host(.light) .wrapper table.results tr td.totalRank.medal2 {
    background-color: silver;
    color: black;
    border-color: var(--lightTableBorders);
    border-width: 0.6em;
    border-style: solid;
}
:host(.light) .wrapper table.results tr td.totalRank.medal3 {
    background-color: #CD7F32;
    color: black;
    border-color: var(--lightTableBorders);
    border-width: 0.6em;
    border-style: solid;
}

div > div > div.attemptBar {
    height: revert;
}

.athleteInfo .fullName {
    font-weight: bold;
    flex: revert;
    text-align: left;
    flex-grow: revert;
    color: var(--athleteNameColor);
    font-size: var(--athleteNameFontSize)
}