@import "../nogrid/colors.css";

/* Bordered dark variant of the nogrid palette. */
.dark {
    --TableBorders: var(--pageTextColor);
    --TextColor: var(--pageTextColor);
    --BackgroundColor: var(--pageBackgroundColor);

    --TitleTextColor: var(--TextColor);
    --TitleBackgroundColor: var(--BackgroundColor);

    --CurrentTextColor: yellow;
    --CurrentBackgroundColor: var(--BackgroundColor);

    --NextTextColor: orange;
    --NextBackgroundColor: var(--BackgroundColor);

    --PreviousTextColor: lightskyblue;
    --PreviousBackgroundColor: var(--BackgroundColor);

    --RequestTextColor: var(--TextColor);
    --RequestBackgroundColor: var(--BackgroundColor);

    --StartBackgroundColor: var(--BackgroundColor);
    --StartTextColor: var(--TextColor);

    --NameBackgroundColor: var(--BackgroundColor);
    --NameTextColor: var(--TextColor);

    --CategoryTextColor: var(--TextColor);
    --CategoryBackgroundColor: var(--BackgroundColor);

    --BirthTextColor: var(--TextColor);
    --BirthBackgroundColor: var(--BackgroundColor);

    --TeamTextColor: var(--TextColor);
    --TeamBackgroundColor: var(--BackgroundColor);

    --GoodTextColor: white;
    --GoodBackgroundColor: green;

    --FailTextColor: white;
    --FailBackgroundColor: darkred;

    --RankTextColor: var(--TextColor);
    --RankBackgroundColor: var(--BackgroundColor);

    --TotalRankTextColor: var(--TextColor);
    --TotalRankBackgroundColor: var(--BackgroundColor);

    --TotalTextColor: var(--GoodTextColor);
    --TotalBackgroundColor: blue;

    --SpacerBackgroundColor: var(--BackgroundColor);
    --EmptyTextColor: #4d4d4d;
    --EmptyBackgroundColor: #4d4d4d;

    --RecordBoxBorder: var(--pageTextColor);
    --RecordBoxBorderWidth: medium;
    --RecordBoxBackground: var(--pageBackgroundColor);
    --RecordBoxText: var(--pageTextColor);

    --RecordCellBorderWidth: thin;
    --RecordValueText: var(--pageTextColor);
    --RecordValueBackground: var(--pageBackgroundColor);
    --RecordCellBorderColor: var(--pageTextColor);

    --RecordNameBackground: var(--pageBackgroundColor);
    --RecordNameText: var(--pageTextColor);

    --RecordLiftTypeBackground: var(--pageBackgroundColor);
    --RecordLiftTypeText: var(--pageTextColor);
    --RecordLiftTypeBorder: var(--pageTextColor);

    --RecordHighlightBackground: green;
    --RecordHighlightText: white;
    --AttemptHighlightText: white;
    --AttemptHighlightBackground: purple;
}