* {
    /*************************
     * Customization section
     *************************/

    /* variable-size columns. fr = free space after other columns have been allocated.
       for ease of understanding, sum of all fr columns should be 1.00.
    */
    --nameWidth: auto;
    --clubWidth: min-content;
    /* define this if you use acronyms and want flags to line up
    --teamNameShortLength: 4ch;
     */

    /* left column width: adjust depending on how you name groups */
    --startWidth: 0em;
    --startVisibility: hidden;
    
    /* spacers */
    --spacerWidth: 1vh;

    /* normally these do not need to change */
    --categoryWidth: 10ch;
    --liftResultWidth: 6ch;

    /* to show these columns 
    - change hidden to visible
    - set the width to value like 8ch 
    */
    --birthWidth: 6ch;
    --birthVisibility: visible;
    --custom1Width: 0;
    --custom1Visibility: hidden;
    --custom2Width: 0;
    --custom2Visibility: hidden;

    --rankWidth: var(--liftResultWidth);
    --rankVisibility: visible;
    --totalRankWidth: var(--liftResultWidth);
    --totalRankVisibility: visible;
    
    --bestWidth: var(--liftResultWidth);
    --bestVisibility: visible;

    /* top part: current attempt information */
    --topRowFontSize: 3vh;
    --athleteNameFontSize: 4vh;
    --groupInfoFontSize: 2.5vh;

    /* records */
    --recordValueCellWidth: 4em;
    --recordTypeHeightRatio: 75%;
    --recordsNotificationFontSize: 2.0em;

    /* leaders section control grid lines visibility */
    --leaderLineHeight: min-content;

    box-sizing: border-box;
    --nbRanks: 1;
}

:host .light table.results {
    --spacerWidth: 1vh;
    --rowSmallSpacerHeight: 0;
}
:host .dark table.results {
    --spacerWidth: 1vh;
    --rowSmallSpacerHeight: 0;
}

td.flags div {
    display: flex;
}

td.name.flags {
    font-size: 120%;
}


td.flags div.flags img {
    height: 5vh;
    margin: 1vh;
    align-self: center;
    border: 1px;
    border-style: solid;
}
td.flags div.flags {
    height: 6vh;
    line-height: 6vh;
    align-self: center;
    display: flex;
}

:host div.wrapper.dark table.results tr td.rank {
    color: white;
    padding: 0;
    margin: 0;
    display: grid;
    align-content: center;
}

:host div.wrapper.dark table.results tr td.rank div {
    text-align: center;
}

:host div.wrapper.dark table.results tr td.rank.medal1 {
    background-color: gold;
    color: black;
}
:host div.wrapper.dark table.results tr td.rank.medal2 {
    background-color: silver;
    color: black;
}
:host div.wrapper.dark table.results tr td.rank.medal3 {
    background-color: #CD7F32;
    color: black;
}

:host div.wrapper.dark table.results tr td.totalRank {
    color: white;
    padding: 0;
    margin: 0;
    display: grid;
    align-content: center;
}

:host div.wrapper.dark table.results tr td.totalRank div {
    text-align: center;
}

:host div.wrapper.dark table.results tr td.totalRank.medal1 {
    background-color: gold;
    color: black;
}
:host div.wrapper.dark table.results tr td.totalRank.medal2 {
    background-color: silver;
    color: black;
}
:host div.wrapper.dark table.results tr td.totalRank.medal3 {
    background-color: #CD7F32;
    color: black;
}

:host div.wrapper.light table.results tr td.rank {
    border-color: var(--lightTableBorders);
    color: white;
    border-width: 0.6em;
    border-style: solid;
}
:host div.wrapper.light table.results tr td.rank.medal1 {
    background-color: gold;
    color: black;
}
:host div.wrapper.light table.results tr td.rank.medal2 {
    background-color: silver;
    color: black;
}
:host div.wrapper.light table.results tr td.rank.medal3 {
    background-color: #CD7F32;
    color: black;
}

:host div.wrapper.light table.results tr td.totalRrank {
    border-color: var(--lightTableBorders);
    color: white;
    border-width: 0.6em;
    border-style: solid;
}
:host div.wrapper.light table.results tr td.totalRank.medal1 {
    background-color: gold;
    color: black;
    border-color: var(--lightTableBorders);
    border-width: 0.6em;
    border-style: solid;
}
:host div.wrapper.light table.results tr td.totalRank.medal2 {
    background-color: silver;
    color: black;
    border-color: var(--lightTableBorders);
    border-width: 0.6em;
    border-style: solid;
}
:host div.wrapper.light table.results tr td.totalRank.medal3 {
    background-color: #CD7F32;
    color: black;
    border-color: var(--lightTableBorders);
    border-width: 0.6em;
    border-style: solid;
}

/* grid layout */
table.medals {
    /* do not use all available vertical space */
    flex: 0;
    display: grid;
    border-collapse: collapse;
    grid-template-columns:
        /* group */
        var(--startWidth)
        /* name */
        var(--nameWidth)
        /* category */
        var(--categoryWidth)
        /* birth */
        var(--birthWidth)
        /* custom fields */
        var(--custom1Width) var(--custom2Width)
        /* team name */
        var(--clubWidth)
        /* snatch results */
        var(--spacerWidth)
        repeat(3, var(--liftResultWidth))
        var(--bestWidth)
        /* one snatch rank per category */
        repeat(var(--nbRanks), var(--rankWidth))
        /* clean&jerk */
        var(--spacerWidth)
        repeat(3, var(--liftResultWidth))
        var(--bestWidth)
        /* one snatch rank per category */
        repeat(var(--nbRanks), var(--rankWidth))
        /* total */
        var(--spacerWidth)
        repeat(1, var(--liftResultWidth))
        /* one total rank per category */
        repeat(var(--nbRanks), var(--totalRankWidth))
        /* sinclair result */
        var(--sinclairWidth)
        /* sinclair ranks */
        var(--sinclairRankWidth);
}

div > div > div.attemptBar {
    height: revert;
}

.athleteInfo .fullName {
    font-weight: bold;
    flex: revert;
    text-align: left;
    flex-grow: revert;
    color: var(--athleteNameColor);
    font-size: var(--athleteNameFontSize)
}

td.custom1 div {
    /* pre-wrap is used for multiple lines custom1 custom2 */
    /* white-space: pre-wrap; */
    text-align: center;
}
td.custom2 div {
    /* pre-wrap is used for multiple lines custom1 custom2 */
    /* white-space: pre-wrap; */
    text-align: center;
}
