* {
    /*************************
     * Customization section
     *************************/

    /* variable-size columns. fr = free space after other columns have been allocated.
       for ease of understanding, sum of all fr columns should be 1.00.
    */
    --nameWidth: 1fr;
    --clubWidth: max-content;

    /* left column width: adjust depending on how you name groups */
    --startWidth: 4em;
    --startVisibility: visible;

    /* spacers */
    --spacerWidth: 1vh;

    /* normally these do not need to change */
    --categoryWidth: 11ch;
    --categoryVisibility: visible;

    --liftResultWidth: 6ch;

    /* to show these columns 
    - change hidden to visible
    - set the width to value like 8ch 
    */
    --birthWidth: 6ch;
    --birthVisibility: visible;
    --custom1Width: 0;
    --custom1Visibility: hidden;
    --custom2Width: 0;
    --custom2Visibility: hidden;

    --rankWidth: var(--liftResultWidth);
    --rankVisibility: visible;
    --totalRankWidth: var(--liftResultWidth);

    /* 
    --bestWidth: var(--liftResultWidth);
    --bestVisibility: visible;
    */
    --bestWidth: 0;
    --bestVisibility: hidden;

    /* top part: current attempt information */
    --topRowFontSize: 3vh;
    --athleteNameFontSize: 4vh;
    --groupInfoFontSize: 2.5vh;

    /* records */
    --recordValueCellWidth: 4rem;

    /* leaders section control grid lines visibility */
    --leaderLineHeight: min-content;

    box-sizing: border-box;
    --nbRanks: 1;
}

:host .light table.results {
    --spacerWidth: 0vh;
    --rowSmallSpacerHeight: 0;
}

:host .dark table.results {
    --spacerWidth: 1vh;
    --rowSmallSpacerHeight: 0; /* set to 0.25vh if transparent background */
}

td.flags div img {
    height: calc(var(--athleteNameFontSize)*0.8);
    margin: 1vh;
    align-self: center;
    border: 1px;
    border-style: solid;
}
td.flags div {
    height: calc(var(--athleteNameFontSize)*0.8);
    line-height: calc(var(--athleteNameFontSize)*0.8);
    align-self: center;
    display: flex;
}