html {
    background: #000;
    color: #fff;
}

body {
    align-items: center;
    display: flex;
    justify-content: center;
}

h2 {
    color: red;
    margin-top: 0;
}

button {
    background-color: #147d34;
    border: none;
    border-radius: 0.25rem;
    color: #fff;
    padding: 0.5rem 1rem;
}

.button-bar {
    padding-top: 2.5rem;
    display: flex;
    justify-content: end;
}

.wrapper {
    background: #233449;
    border-radius: 0.5rem;
    min-width: 12rem;
    padding: 2.5rem;
    width: 60%;
}
