/* reduce font size on iPad */
@media screen and (max-width: 1200px) {

    .athleteGridTopBar h1 {
        font-size: large;
    }

    .athleteGridTopBar h2 {
        font-size: medium;
    }

    .athleteGridTopBar h3 {
        font-size: small;
    }

    #topBarLeft.announcerLeft {
        width: 6em;
    }

    #topBarLeft.announcerLeft vaadin-combo-box {
        width: 4em;
    }
    #topBarLeft.announcerLeft h3 {
        display: none;
    }
}

#topBarLeft {
    width: 12em;
    height: 7ex;
}
#topBarLeft vaadin-combo-box{
    width: 12ch;
}