/** global css definitions go here */

html {
  box-sizing: border-box;
}

/*
*, *:before, *:after {
  box-sizing: inherit;
}
*/

/* spurious system error coming from crudui or app-layout */
.v-system-error {
	display: none;
}

.v-reconnect-dialog {
    position: absolute;
    top: 1em;
    right: 1em;
    border: 1px solid black;
    padding: 1em;
    z-index: 10000;
    background: white;
}

@media print {
	#Header, #Footer, #printing {
		display: none !important;
		visibility: hidden  !important;
	}
	
	.printing {
		display: none !important;
		visibility: hidden  !important;
	}
}

.errorMessage {
	color: red;
	font-weight: bold;
}

.errorBackground {
	background-color: var(--lumo-error-color-10pct);
}

.blink {
    animation: blink 1.5s step-start 0s infinite;
    -webkit-animation: blink 1.5s step-start 0s infinite;
}

@keyframes blink {
    50% {
        opacity: 0;
    }
}

@-webkit-keyframes blink {
    50% {
        opacity: 0;
    }
}