:host(.bad) [part="input-field"] {
	background-color: red;
	color: white;
}

:host(.bad.readonly) [part="input-field"] {
	background-color: var(--lumo-error-color-10pct);
	color: gray;
}

:host(.good) [part="input-field"] {
	background-color: green;
	color: white;
}

:host(.good.readonly) [part="input-field"] {
	background-color: var(--lumo-success-color-10pct);
	color: gray;
}

:host(.readonly) [part="input-field"] {
	background-color: white;
	color: gray;
}

:host(.error) [part="input-field"] {
	background-color: var(--lumo-error-color-10pct);
	color: black;
}

:host(.current) [part="input-field"] {
	background-color: #fff89a;
	color: black;
}
:host(.current) {
	--vaadin-input-field-border-width : 1px;
}