/* hide the keyboard focus ring in the grids */
vaadin-grid::part(focused-cell) {
    display: none;
}

/* highlight current/next/previous athlete */

vaadin-grid::part(isPreviousAthlete) {
    background-image: none;
    background-color: lightskyblue;
    font-weight: bold;
}

vaadin-grid::part(isCurrentAthlete) {
    background-image: none;
    background-color: #fbf242;
    font-weight: bold;
}

vaadin-grid::part(isNextAthlete) {
    background-image: none;
    background-color: rgb(253, 199, 98);
    font-weight: bold;
}