* {
    /*************************
     * Customization section
     *************************/
    --pageBackgroundColor: black;
    --pageTextColor: white;

    /* variable-size columns. fr = free space after other columns have been allocated.
       for ease of understanding, sum of all fr columns should be 1.00.
    */
    --nameWidth: 1fr;
    --clubWidth: 10ch;

    /* left column width: adjust depending on how you name groups */
    --startWidth: 0em;
    --startVisibility: hidden;
    
    /* spacers */
    --spacerWidth: 1vh;

    /* normally these do not need to change */
    --categoryWidth: 10ch;
    --liftResultWidth: 6ch;

    /* to show these columns 
    - change hidden to visible
    - set the width to value like 8ch 
    */
    --birthWidth: 0;
    --birthVisibility: hidden;
    --custom1Width: 0;
    --custom1Visibility: hidden;
    --custom2Width: 0;
    --custom2Visibility: hidden;

    --rankWidth: 4ch;
    --rankVisibility: visible;
    --totalRankWidth: 4ch;
    
    --bestWidth: var(--liftResultWidth);
    --bestVisibility: visible;
    /*
    --bestWidth: 0;
    --bestVisibility: hidden;
      */

    /* top part: current attempt information */
    --topRowFontSize: 3vh;
    --athleteNameFontSize: 4vh;
    --groupInfoFontSize: 2.5vh;

    /* records */
    --recordValueCellWidth: 4rem;

    /* leaders section control grid lines visibility */
    --leaderLineHeight: min-content;

    box-sizing: border-box;
    --nbRanks: 1;
}

:host .light table.results {
    --spacerWidth: 0vh;
    --rowSmallSpacerHeight: 0;
}
:host .dark table.results {
    --spacerWidth: 1vh;
    --rowSmallSpacerHeight: 0.25vh;
}

/* default for page */
.wrapper {
    /* results table font size */
    --tableFontSize: 1.25rem;
    --recordValueCellHeight: calc(var(--tableFontSize)*1.5);
    --recordsFontRatio: 0.9;

    font-family: Arial, Helvetica, sans-serif;
    color: var(--pageTextColor);
    background-color: var(--pageBackgroundColor);
    margin: 0;

    padding: 0.1rem;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    flex-wrap: no-wrap;
    justify-content: space-around;
    line-height: unset;
}

.blockPositioningWrapper {
    background-color: var(--blockBackgroundColor);
    width: fit-content;
    padding-right: 1em;
    padding-left: 0.5em;
}

.filler {
    background-color: var(--blockBackgroundColor);
    /* min-height: 1.5em; */
}

td.flags div img {
    height: calc(var(--athleteNameFontSize)*0.8);
    margin: 1vh;
    align-self: center;
    border: 1px;
    border-style: solid;
}
td.flags div {
    height: calc(var(--athleteNameFontSize)*0.8);
    line-height:  var(--athleteNameFontSize);
    align-self: center;
    display: flex;
}

