## Example environment variables for OWLCMS
# Copy this file to .vscode/.env.windows or .vscode/.env.linux or .vscode/.env.mac and edit as needed

# set this to a secure value for your installation, do not commit the file with a real value.
OWLCMS_UPDATEKEY=defaultValueForDevelopmentOnlyChangeItForProduction

# to run simulations locally
OWLCMS_BACKDOOR=[0:0:0:0:0:0:0:1],127.0.0.1

# Windows example of alternate local directories (uncomment and edit for your machine):
# OWLCMS_LOCALDIR=C:\\Dev\\git\\owlcms_local

# Linux/macOS example of alternate local directories (uncomment and edit for your machine): 
# OWLCMS_LOCALDIR=/home/dev/owlcms_local


 
