<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<launchConfiguration type="org.eclipse.jdt.launching.localJavaApplication">
    <listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_PATHS">
        <listEntry value="/owlcms/src/main/java/app/owlcms/Main.java"/>
    </listAttribute>
    <listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_TYPES">
        <listEntry value="1"/>
    </listAttribute>
    <mapAttribute key="org.eclipse.debug.core.environmentVariables">
        <mapEntry key="OWLCMS_MEMORYMODE" value="false"/>
        <mapEntry key="OWLCMS_MQTTPASSWORD" value="45454545"/>
        <mapEntry key="OWLCMS_MQTTPORT" value="1883"/>
        <mapEntry key="OWLCMS_MQTTSERVER" value="localhost"/>
        <mapEntry key="OWLCMS_MQTTUSERNAME" value="owlcms"/>
        <mapEntry key="OWLCMS_PIN" value=""/>
        <mapEntry key="OWLCMS_PORT" value="8080"/>
        <mapEntry key="OWLCMS_RESETMODE" value="false"/>
        <mapEntry key="_JDBC_DATABASE_PASSWORD" value="owlcms"/>
        <mapEntry key="_JDBC_DATABASE_URL" value="jdbc:h2:file:./database/scolaire.mv.db"/>
        <mapEntry key="_OWLCMS_BACKDOOR" value="10.0.0.221,127.0.0.1,[0:0:0:0:0:0:0:1]"/>
        <mapEntry key="_OWLCMS_H2SERVERPORT" value="9092"/>
        <mapEntry key="_OWLCMS_LOCALE" value="en_CA"/>
        <mapEntry key="_OWLCMS_MQTTPASSWORD" value="xFVaFVLcM79IzhyBFV4wWlfs7zmIXSKm"/>
        <mapEntry key="_OWLCMS_MQTTSERVER" value="msawmg.stackhero-network.com"/>
        <mapEntry key="_OWLCMS_MQTTUSERNAME" value="jflamy-dev"/>
        <mapEntry key="_OWLCMS_REMOTE" value="http://127.0.0.1:8082/update"/>
        <mapEntry key="_OWLCMS_UPDATEKEY" value="thisisaverylongsecretstring"/>
    </mapAttribute>
    <mapAttribute key="org.eclipse.debug.core.preferred_launchers">
        <mapEntry key="[debug]" value="org.eclipse.jdt.launching.localJavaApplication"/>
        <mapEntry key="[run]" value="org.eclipse.jdt.launching.localJavaApplication"/>
    </mapAttribute>
    <listAttribute key="org.eclipse.debug.ui.favoriteGroups">
        <listEntry value="org.eclipse.debug.ui.launchGroup.run"/>
    </listAttribute>
    <booleanAttribute key="org.eclipse.jdt.launching.ATTR_ATTR_USE_ARGFILE" value="false"/>
    <booleanAttribute key="org.eclipse.jdt.launching.ATTR_EXCLUDE_TEST_CODE" value="true"/>
    <booleanAttribute key="org.eclipse.jdt.launching.ATTR_SHOW_CODEDETAILS_IN_EXCEPTION_MESSAGES" value="true"/>
    <booleanAttribute key="org.eclipse.jdt.launching.ATTR_USE_CLASSPATH_ONLY_JAR" value="false"/>
    <stringAttribute key="org.eclipse.jdt.launching.CLASSPATH_PROVIDER" value="org.eclipse.m2e.launchconfig.classpathProvider"/>
    <stringAttribute key="org.eclipse.jdt.launching.JRE_CONTAINER" value="org.eclipse.jdt.launching.JRE_CONTAINER/org.eclipse.jdt.internal.debug.ui.launcher.StandardVMType/dcevm-11.0.10+4/"/>
    <stringAttribute key="org.eclipse.jdt.launching.MAIN_TYPE" value="app.owlcms.Main"/>
    <stringAttribute key="org.eclipse.jdt.launching.MODULE_NAME" value="owlcms"/>
    <stringAttribute key="org.eclipse.jdt.launching.PROJECT_ATTR" value="owlcms"/>
    <stringAttribute key="org.eclipse.jdt.launching.SOURCE_PATH_PROVIDER" value="org.eclipse.m2e.launchconfig.sourcepathProvider"/>
    <stringAttribute key="org.eclipse.jdt.launching.VM_ARGUMENTS" value="-Dlogback.configurationFile=logback-console.xml  -Djava.net.preferIPv4Stack=true"/>
</launchConfiguration>
