<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<launchConfiguration type="org.eclipse.jdt.launching.localJavaApplication">
    <booleanAttribute key="org.eclipse.debug.core.ATTR_FORCE_SYSTEM_CONSOLE_ENCODING" value="false"/>
    <listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_PATHS">
        <listEntry value="/owlcms/src/main/java/app/owlcms/Main.java"/>
    </listAttribute>
    <listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_TYPES">
        <listEntry value="1"/>
    </listAttribute>
    <mapAttribute key="org.eclipse.debug.core.environmentVariables">
        <mapEntry key="OWLCMS_BACKDOOR" value="10.0.0.221,127.0.0.1,[0:0:0:0:0:0:0:1]"/>
        <mapEntry key="OWLCMS_ENABLEEMBEDDEDMQTT" value="true"/>
        <mapEntry key="OWLCMS_INITIALDATA" value="LARGEGROUP_DEMO"/>
        <mapEntry key="OWLCMS_LOCALE" value="en"/>
        <mapEntry key="OWLCMS_MEMORYMODE" value="true"/>
        <mapEntry key="OWLCMS_MQTTPASSWORD" value="test"/>
        <mapEntry key="OWLCMS_MQTTUSERNAME" value="test"/>
        <mapEntry key="OWLCMS_PORT" value="8081"/>
        <mapEntry key="OWLCMS_REMOTE" value="http://localhost:8082/update"/>
        <mapEntry key="OWLCMS_RESETMODE" value="true"/>
        <mapEntry key="OWLCMS_STYLESDIR" value="styles"/>
        <mapEntry key="OWLCMS_UPDATEKEY" value="maryhadalittlelamb"/>
        <mapEntry key="_OWLCMS_DEBUG" value="false"/>
        <mapEntry key="_OWLCMS_DISPLAYPIN" value="dis"/>
        <mapEntry key="_OWLCMS_MASTERS" value="false"/>
        <mapEntry key="_OWLCMS_MQTTPORT" value="8883"/>
        <mapEntry key="_OWLCMS_MQTTSERVER" value="44341a3e47cc48d2b260b8064120f2df.s2.eu.hivemq.cloud"/>
        <mapEntry key="_OWLCMS_PIN" value="test"/>
        <mapEntry key="_OWLCMS_PUBLICDEMO" value="60"/>
        <mapEntry key="__OWLCMS_MQTTSERVER" value="127.0.0.1"/>
    </mapAttribute>
    <mapAttribute key="org.eclipse.debug.core.preferred_launchers">
        <mapEntry key="[debug]" value="org.eclipse.jdt.launching.localJavaApplication"/>
        <mapEntry key="[run]" value="org.eclipse.jdt.launching.localJavaApplication"/>
    </mapAttribute>
    <listAttribute key="org.eclipse.debug.ui.favoriteGroups">
        <listEntry value="org.eclipse.debug.ui.launchGroup.run"/>
    </listAttribute>
    <booleanAttribute key="org.eclipse.jdt.launching.ATTR_ATTR_USE_ARGFILE" value="false"/>
    <booleanAttribute key="org.eclipse.jdt.launching.ATTR_EXCLUDE_TEST_CODE" value="true"/>
    <booleanAttribute key="org.eclipse.jdt.launching.ATTR_SHOW_CODEDETAILS_IN_EXCEPTION_MESSAGES" value="true"/>
    <booleanAttribute key="org.eclipse.jdt.launching.ATTR_USE_CLASSPATH_ONLY_JAR" value="false"/>
    <stringAttribute key="org.eclipse.jdt.launching.CLASSPATH_PROVIDER" value="org.eclipse.m2e.launchconfig.classpathProvider"/>
    <stringAttribute key="org.eclipse.jdt.launching.JRE_CONTAINER" value="org.eclipse.jdt.launching.JRE_CONTAINER/org.eclipse.jdt.internal.debug.ui.launcher.StandardVMType/jbrsdk-17.0.6-windows-x64-b779.1/"/>
    <stringAttribute key="org.eclipse.jdt.launching.MAIN_TYPE" value="app.owlcms.Main"/>
    <stringAttribute key="org.eclipse.jdt.launching.MODULE_NAME" value="owlcms"/>
    <stringAttribute key="org.eclipse.jdt.launching.PROJECT_ATTR" value="owlcms"/>
    <stringAttribute key="org.eclipse.jdt.launching.SOURCE_PATH_PROVIDER" value="org.eclipse.m2e.launchconfig.sourcepathProvider"/>
    <stringAttribute key="org.eclipse.jdt.launching.VM_ARGUMENTS" value="-Dlogback.configurationFile=logback-console.xml -Dxvaadin.devmode.devTools.enabled=false -Dvaadin.frontend.hotdeploy=true"/>
</launchConfiguration>
