<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<launchConfiguration type="org.eclipse.jdt.launching.localJavaApplication">
    <booleanAttribute key="org.eclipse.debug.core.ATTR_FORCE_SYSTEM_CONSOLE_ENCODING" value="false"/>
    <listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_PATHS">
        <listEntry value="/owlcms/src/main/java/app/owlcms/Main.java"/>
    </listAttribute>
    <listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_TYPES">
        <listEntry value="1"/>
    </listAttribute>
    <mapAttribute key="org.eclipse.debug.core.environmentVariables">
        <mapEntry key="OWLCMS_BACKDOOR" value="10.0.0.221,127.0.0.1,[0:0:0:0:0:0:0:1]"/>
        <mapEntry key="OWLCMS_DEBUG" value="false"/>
        <mapEntry key="OWLCMS_INITIALDATA" value="LARGEGROUP_DEMO"/>
        <mapEntry key="OWLCMS_LOCALE" value="en"/>
        <mapEntry key="OWLCMS_MASTERS" value="false"/>
        <mapEntry key="OWLCMS_MEMORYMODE" value="true"/>
        <mapEntry key="OWLCMS_MQTTPASSWORD" value="45454545"/>
        <mapEntry key="OWLCMS_MQTTPORT" value="1883"/>
        <mapEntry key="OWLCMS_MQTTSERVER" value="localhost"/>
        <mapEntry key="OWLCMS_MQTTUSERNAME" value="owlcms"/>
        <mapEntry key="OWLCMS_PORT" value="8081"/>
        <mapEntry key="OWLCMS_RESETMODE" value="true"/>
        <mapEntry key="OWLCMS_UPDATEKEY" value="maryhadalittlelamb"/>
        <mapEntry key="_OWLCMS_DISPLAYPIN" value="dis"/>
        <mapEntry key="_OWLCMS_PIN" value="test"/>
        <mapEntry key="_OWLCMS_PUBLICDEMO" value="60"/>
        <mapEntry key="_OWLCMS_REMOTE" value="https://results.fly.dev/update"/>
    </mapAttribute>
    <mapAttribute key="org.eclipse.debug.core.preferred_launchers">
        <mapEntry key="[debug]" value="org.eclipse.jdt.launching.localJavaApplication"/>
        <mapEntry key="[run]" value="org.eclipse.jdt.launching.localJavaApplication"/>
    </mapAttribute>
    <listAttribute key="org.eclipse.debug.ui.favoriteGroups">
        <listEntry value="org.eclipse.debug.ui.launchGroup.run"/>
    </listAttribute>
    <booleanAttribute key="org.eclipse.jdt.launching.ATTR_ATTR_USE_ARGFILE" value="false"/>
    <booleanAttribute key="org.eclipse.jdt.launching.ATTR_EXCLUDE_TEST_CODE" value="true"/>
    <booleanAttribute key="org.eclipse.jdt.launching.ATTR_SHOW_CODEDETAILS_IN_EXCEPTION_MESSAGES" value="true"/>
    <booleanAttribute key="org.eclipse.jdt.launching.ATTR_USE_CLASSPATH_ONLY_JAR" value="false"/>
    <stringAttribute key="org.eclipse.jdt.launching.CLASSPATH_PROVIDER" value="org.eclipse.m2e.launchconfig.classpathProvider"/>
    <stringAttribute key="org.eclipse.jdt.launching.MAIN_TYPE" value="app.owlcms.Main"/>
    <stringAttribute key="org.eclipse.jdt.launching.MODULE_NAME" value="owlcms"/>
    <stringAttribute key="org.eclipse.jdt.launching.PROJECT_ATTR" value="owlcms"/>
    <stringAttribute key="org.eclipse.jdt.launching.SOURCE_PATH_PROVIDER" value="org.eclipse.m2e.launchconfig.sourcepathProvider"/>
    <stringAttribute key="org.eclipse.jdt.launching.VM_ARGUMENTS" value="-Dlogback.configurationFile=logback-console.xml"/>
</launchConfiguration>
