<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<launchConfiguration type="org.eclipse.jdt.launching.localJavaApplication">
    <booleanAttribute key="org.eclipse.debug.core.ATTR_FORCE_SYSTEM_CONSOLE_ENCODING" value="false"/>
    <listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_PATHS">
        <listEntry value="/owlcms/src/main/java/app/owlcms/Main.java"/>
    </listAttribute>
    <listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_TYPES">
        <listEntry value="1"/>
    </listAttribute>
    <mapAttribute key="org.eclipse.debug.core.environmentVariables">
        <mapEntry key="OWLCMS_ENABLEEMBEDDEDMQTT" value="false"/>
        <mapEntry key="OWLCMS_PORT" value="8080"/>
        <mapEntry key="OWLCMS_UPDATEKEY" value="maryhadalittlelamb"/>
        <mapEntry key="OWLCMS_USECOMPETITIONDATE" value="true"/>
        <mapEntry key="_JDBC_DATABASE_URL" value="jdbc:h2:file:./database/scolaire.mv.db"/>
        <mapEntry key="_OWLCMS_BACKDOOR" value="10.0.0.221,127.0.0.1,[0:0:0:0:0:0:0:1]"/>
        <mapEntry key="_OWLCMS_H2SERVERPORT" value="9092"/>
        <mapEntry key="_OWLCMS_LOCALE" value="en_CA"/>
        <mapEntry key="_OWLCMS_MQTTPASSWORD" value="45454545"/>
        <mapEntry key="_OWLCMS_MQTTSERVER" value="127.0.0.1"/>
        <mapEntry key="_OWLCMS_MQTTUSERNAME" value="owlcms"/>
        <mapEntry key="_OWLCMS_PIN" value="1234"/>
        <mapEntry key="_OWLCMS_REMOTE" value="http://127.0.0.1:8082/update"/>
    </mapAttribute>
    <mapAttribute key="org.eclipse.debug.core.preferred_launchers">
        <mapEntry key="[debug]" value="org.eclipse.jdt.launching.localJavaApplication"/>
        <mapEntry key="[run]" value="org.eclipse.jdt.launching.localJavaApplication"/>
    </mapAttribute>
    <listAttribute key="org.eclipse.debug.ui.favoriteGroups">
        <listEntry value="org.eclipse.debug.ui.launchGroup.run"/>
    </listAttribute>
    <booleanAttribute key="org.eclipse.jdt.launching.ATTR_ATTR_USE_ARGFILE" value="false"/>
    <booleanAttribute key="org.eclipse.jdt.launching.ATTR_EXCLUDE_TEST_CODE" value="true"/>
    <booleanAttribute key="org.eclipse.jdt.launching.ATTR_SHOW_CODEDETAILS_IN_EXCEPTION_MESSAGES" value="true"/>
    <booleanAttribute key="org.eclipse.jdt.launching.ATTR_USE_CLASSPATH_ONLY_JAR" value="false"/>
    <stringAttribute key="org.eclipse.jdt.launching.CLASSPATH_PROVIDER" value="org.eclipse.m2e.launchconfig.classpathProvider"/>
    <stringAttribute key="org.eclipse.jdt.launching.JRE_CONTAINER" value="org.eclipse.jdt.launching.JRE_CONTAINER/org.eclipse.jdt.internal.debug.ui.launcher.StandardVMType/jbrsdk-17.0.6-windows-x64-b779.1/"/>
    <stringAttribute key="org.eclipse.jdt.launching.MAIN_TYPE" value="app.owlcms.Main"/>
    <stringAttribute key="org.eclipse.jdt.launching.MODULE_NAME" value="owlcms"/>
    <stringAttribute key="org.eclipse.jdt.launching.PROJECT_ATTR" value="owlcms"/>
    <stringAttribute key="org.eclipse.jdt.launching.SOURCE_PATH_PROVIDER" value="org.eclipse.m2e.launchconfig.sourcepathProvider"/>
    <stringAttribute key="org.eclipse.jdt.launching.VM_ARGUMENTS" value="-Dlogback.configurationFile=logback-console.xml -Dvaadin.devmode.devTools.enabled=true"/>
</launchConfiguration>
