/bin/
/node_modules/**
/target/**
/logs/
/target/
/node_modules/
/logs/
/dependency-reduced-pom.xml
/.flattened-pom.xml
/cp.txt
/vite.generated.ts
/vite.config.ts.timestamp-1724517630901-c86e2781e1541.mjs
